.breadCrumb {
  margin-top: 20px;
  position: relative;
  @media (max-width:768px){
    margin-top: 0;
  }
  .title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    @include displayCenter;
    h3 {
      color: #fff;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 700;
      line-height: 103.4%; 
      letter-spacing: 2.247px;
      text-transform: uppercase;
      @media (max-width:768px){
        font-size: small;
        line-height: normal; 
        transform: translateY(6px);
      }
    }
  }
}
