.Cakes {
    width: 100%;
    height: auto;
    cursor: pointer;
    position: relative;

    .slick-dots {
        display: none !important;
    }



    .Title {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;


        p {
            color: var(--carousellogos);
            text-align: center;
            font-family: Montserrat;
            font-size: 15.435px;
            font-style: normal;

        }

        h4 {
            color: var(--cakewriting);
            text-align: center;
            font-family: Montserrat;

            .cakes {
                color: var(--roundplayarrow);
            }
        }


    }



}

.mySwiperCakes{

    .swiper-button-prev {
        &::after {
            font-size: 20px !important;
            content: "\2190";
            color: var(--carousellogos);
    
        }
    
        position: absolute;
        width:30px;
        height: 70px;
        top: 13px;
        left: 1200px;
    
    }
    
    
    .swiper-button-next {
        &::after {
            content: "\2192";
            font-size: 20px !important;
            border: 2px solid var(--cakewriting);
            border-radius: 30px;
            color: var(--roundplayarrow);
    
        }
    
        width:30px;
        height: 70px;
        position: absolute;
        font-size: 20px !important;
    
        top: 19px;
        right: 21px;
        padding-bottom: 10px;
        border-radius: 20px !important;
        //    transform: translateY(-190px);
    
    }
}












.singleCard {
    width: auto;
    height: auto;
    flex-shrink: 0;
    border-radius: 15.862px !important;
    border: 1.93px solid var(--carousellogos);
    background: #FFF;

    .image {
        border-top-left-radius: 15px;
        /* Adjust the radius as needed */
        border-top-right-radius: 15px;
    }


    .desc {
        font-size: 13px !important;
    }



    .main {
        display: inline-flex;
        align-items: flex-start;
        gap: 23.145px;


        .first {
            display: flex;
            flex-direction: column;
            align-items: flex-start !important;

            .title {
                color: var(--cakewriting);
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;

            }

            .order {
                width: auto;
                display: flex;
                background-color: var(--roundplayarrow);
                border-radius: 20px;
                border: none !important;
                gap: 20px;
                color: white;
            }
        }

        .second {
            display: flex;
            // padding: 23.145px 23.145px 17.359px 23.145px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // gap: 7.359px;
            border-radius: 20px;
            border: 2px solid var(--carousellogos);

        }


    }
}