@mixin sameinput{
        background-color: #4A3024;
        border-bottom:1px solid #F2F2F2;
        color: white;
        font-family: Montserrat;
        border-top: none;
        border-left: none;
        border-right: none;
        line-height: 1cm;    
        font-size: 12px;
        margin: 10px;
        outline: none;
        width: 100%;
        @media (max-width:767px){
            width: 60%;
        }

}


.diascuss{
  
    background-color: #4A3024;
    display: flex;
    justify-content: space-evenly;
   .row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    @media (max-width:767px){
        justify-content: center;
    }
    h1{
        font-size: 130px;
        line-height: 4cm;
       opacity: 30%;
       color: transparent;
       -webkit-text-stroke-width: 0.5px;
       -webkit-text-stroke-color: #fff;
       font-weight: 900;
       width: 50%;
       position: absolute;
       bottom: 20%;
       left: 15%;
    //   font-family: Montserrat;
       @media (max-width:767px){
        position: static;
        font-size: 80px;
        width: 70%;
        line-height: 2cm;
    }
    }
    h2{
        font-weight: 700;
        font-size: 30px;  
        font-family: Montserrat;
        width: 70%;
        @media (max-width:767px){
            width: 50%;
        }
    }
    p{
        width: 50%;
        font-family: Montserrat;
    }
   .col-12{
    @media (max-width:767px){
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
    }
     .left-one{

    input{
        @include sameinput();
        
    }
    select{
        @include sameinput();
      padding-bottom: 10px;
      margin-top: 25px;
    }
    ::placeholder {
        color: #fff;
        opacity: 1; 
      }
 
   .endl{
    display: flex;
    flex-direction: column;
    
    @media (max-width:767px){
       
        align-items: center;
        justify-content: center;
        
     }
    
    button{
        background-color: #FECF08;
        color: #fff;
        border: none;
        border-radius: 20px;
        width: 80px;
        height: 27px;
        font-size: 10px;
        font-weight: 700;
    }
   }
   }
   }
   }
  
}