// html{
//   overflow-x: hidden;
// }
.container-fluid {
  padding: 0 0 0 0 !important;
  .row {
    .coffeImgContainer {
      .coffeImg {
        max-width: 520px;
        width: 100%;
        position: relative;
        margin-top: -60px;
        @media (max-width: 990px) {
          margin-top: 0px;
        }

        .coffeModal {
          position: absolute;
          top: 80%;
          left: 155%;
          transform: translate(-155%, -80%);
          width: 230px;
          height: auto;
          background-color: #fff;
          border-radius: 20px;
          box-shadow: 0px 4px 15px 0px var(--box-shadow-coffeModal);
          z-index: 1;
          padding: 10px;
          @media (max-width: 990px) {
            width: 200px;
          }
          @media (max-width: 768px) {
            width: 230px;
            top: 90%;
            left: 155%;
            transform: translate(-155%, -90%);
          }
          @media (max-width: 490px) {
            width: 180px;
            top: 70%;
            left: 170%;
            transform: translate(-170%, -70%);
          }
          .coffeModalText {
            h6 {
              color: var(--coffeModal-txt);
              font-style: normal;
              line-height: normal;
              font-size: 16px;
              font-family: "Montserrat", sans-serif;
              font-weight: 700;
              letter-spacing: 1.2px;
              @media (max-width: 990px) {
                font-size: 12px;
              }
              @media (max-width: 768px) {
                font-size: 15px;
              }
              @media (max-width: 490px) {
                font-size: 13px;
                text-align: center;
              }
            }
          }
          .modelDrinkBox {
            width: 100%;
            height: auto;
            border-radius: 15px;
            padding: 4px;
            margin-bottom: 20px;
            transition: 250ms;
            border: 1px solid #d3d3d3;
            .img {
              transform: translateX(-10%);
              height: 60px;
              img {
                height: 100%;
                @media (max-width:370px){
                  width: 60%;
                  height: 80%;
                  object-fit: cover;
                  transform: translate(10px,8px);
                }
              }
            }
            .modalDrinkText {
              p {
                font-size: 12px;
                transform: translate(-12%, 17%);
                color: #979797;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 600;
                line-height: 18px;
                transition: 250ms;
                a {
                  color: #979797;
                  font-weight: 500;
                  font-size: 11px;
                  display: block !important;
                  transition: 250ms;
                }
              }
              @media (max-width: 990px) {
                p {
                  font-size: xx-small;
                  line-height: 15px;
                  transform: translate(-15%, 40%);
                }
              }
              @media (max-width: 768px) {
                p {
                  font-size: 10px;
                  line-height: 15px;
                  transform: translate(-15%, 40%);
                }
              }
              @media (max-width: 490px) {
                p {
                  color: brown;
                  font-size: 7.9px;
                  line-height: 13px;
                  transform: translate(-15%, 50%);
                  a{
                    font-size: xx-small;
                  }
                }
              }
            }
            &:hover {
              background-color: rgba(227, 177, 66, 0.2);
              border: 1px solid rgba(227, 177, 66, 0.2);
              cursor: pointer;
              .modalDrinkText {
                p {
                  color: #4a3024;
                  a {
                    color: #4a3024;
                  }
                }
              }
            }
            @media (max-width: 990px) {
              font-size: 12px;
              padding: 0;
            }
            @media (max-width: 768px) {
              font-size: 12px;
              padding: 4px;
            }
            @media (max-width: 490px) {
             padding: 0;
             margin-bottom: 10px;

            }
          }
          .filterModal {
            width: 100%;
            height: 30px;
            border-radius: 10px;
            background: rgba(228, 228, 228, 0.21);
            display: flex;
            justify-content: space-between;
            // display: none;
            p {
              color: #e3b142;
              font-family: Montserrat;
              font-size: 11px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              transform: translateY(7px);
            }
            svg {
              transform: translateY(2px);
            }
          }
        }
      }
    }

    .coffeImgContainer1 {
      margin-top: 120px;
      transform: translate(180px, -30px);
      @media (max-width: 1000px) {
        transform: translate(90px, -10px);
      }
      @media (max-width: 768px) {
        display: none;
      }
      .enjoyCoffeDesc {
        position: relative;
        .beansBig {
          position: absolute;
          // top: -120px;
          // right: 20px;
          top: -40px;
          right: 95px;
          transform: translate(-95px, -40px);
          @media (max-width: 1000px) {
            top: -55px;
            right: 15px;
            transform: translate(-15px, -55px);
          }
        }
        .beans {
          position: absolute;
          bottom: 70%;
          right: 97%;
          transform: translate(-97%, -70%);
          width: auto;
          height: auto;
          // @include displayCenter;
          @media (max-width: 1000px) {
            bottom: 80%;
            right: 84%;
            transform: translate(-84%, -80%);
          }
        }
        .enjoyCoffeDesch6 {
          color: #e3b142;
          font-family: Montserrat;
          font-size: 17px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          @media (max-width: 1000px) {
            font-size: 13px;
            transform: translateX(3px);
          }
        }
      }
      .enjoyCoffeTitleDesc {
        h1 {
          color: #54372b;
          font-family: Montserrat;
          font-size: 60px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          @media (max-width: 1000px) {
            font-size: 35px;
          }
        }
        p {
          color: rgb(163, 163, 163);
          font-family: Montserrat;
          font-size: 14px;
          font-style: normal;
          line-height: 24px;
          @media (max-width: 1000px) {
            font-size: 15px;
            line-height: normal;
            br {
              display: none;
            }
          }
        }
      }
      .row {
        .enjoyFilterTxt {
          position: relative;
          img {
            position: absolute;
            bottom: 27px;
            right: 40px;
            z-index: -1;
            transform: rotate(4deg);
            @media (max-width: 1300px) {
              width: 100px;
              right: 20px;
              bottom: 30px;
              transform: rotate(-4deg);
            }
            @media (max-width: 1200px) {
              width: 60px;
              right: 20px;
              bottom: 32px;
              transform: rotate(-4deg);
            }
            @media (max-width: 1110px) {
              width: 55px;
              right: 7px;
              bottom: 32px;
              transform: rotate(-8deg);
            }
          }
          .active {
            background-color: rgba(227, 177, 66, 1);
            border-radius: 20px;
            color: var(--bg-white);
            position: relative;
          }
          p {
            color: #979797;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            padding: 3px 20px;
            cursor: pointer;
          }
          .moreMenup {
            font-size: x-small;
            width: 100px;
            height: 30px;
            border-radius: 20px;
            background-color: rgba(227, 177, 66, 1);
            color: #fff;
            @include displayCenter;
          }
        }
      }
      .beans3 {
        margin-left: 20%;
        margin-top: 20px;
        @media (max-width: 1000px) {
          margin-left: -11% !important;
        }
      }
      .beans4 {
        margin-left: 60%;
        margin-top: -170px;

        @media (max-width: 1000px) {
          margin-left: 70% !important;
          img {
            width: 70%;
          }
        }
      }
    }
  }
}

@media (max-width: 570px) {
  .container-fluid {
    .row {
      .coffeImgContainer {
        .coffeImg {
          max-width: 380px;
          width: 100%;
          position: relative;
        }
      }
    }
  }
}

@media (max-width: 490px) {
  .container-fluid {
    .row {
      .coffeImgContainer {
        .coffeImg {
          max-width: 300px;
          width: 100% !important;
          position: relative;
        }
      }
    }
  }
}
@media (max-width: 490px) {
  .container-fluid {
    .row {
      .coffeImgContainer {
        .coffeImg {
          max-width: 280px;
          width: 100% !important;
          position: relative;
        }
      }
    }
  }
}
