.Faqs {
    width: auto;
    height: auto;
    margin-top: 30px;

    .container1 {
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;

        .Center {
            max-width: 700px;
            width: 100%;
            height: auto;


            .title {
                width: auto;
                height: auto;
                display: flex;


                .line {
                    width: 31px;
                    height: 2px;
                    background-color: var(--faqcolor);
                    text-align: center;
                    margin-top: 13px !important;
                    border-radius: 4px !important;


                    @media(max-width:469px) {
                        width: 25px;
                        height: 2px;
                        margin-top: 9px !important;
                    }

                    @media(max-width:390px) {
                        width: 19px;
                        height: 2px;
                        margin-top: 5px !important;
                    }
                }

                .upper {
                    margin-left: 5px;

                    h5 {
                        color: #A7A4A4;
                        font-family: Montserrat;
                        font-size: 21.68px !important;
                        font-style: normal;
                        font-weight: bold !important;
                        line-height: normal;

                        @media(max-width:469px) {
                            font-size: 16.68px !important;
                        }

                        @media(max-width:390px) {
                            font-size: 11.68px !important;
                        }

                    }


                }

                // @media(max-width:750px){
                //     margin-left: 25px !important;
                // }

            }

            .question {
                max-width: 600px;
                width: 100%;
                height: auto;

                h1 {
                    color: var(--faqcolor);
                    font-size: 45px !important;
                    font-weight: 700;
                    width: 80%;

                    @media(max-width:565px) {
                        width: 80%;
                        font-size: 44px !important;
                    }

                    @media(max-width:506px) {
                        width: 80%;
                        font-size: 38px !important;
                    }

                    @media(max-width:431px) {
                        width: 80%;
                        font-size: 32px !important;
                    }

                    @media(max-width:368px) {
                        width: 80%;
                        font-size: 27px !important;
                    }

                    @media(max-width:368px) {
                        width: 80%;
                        font-size: 24px !important;
                    }

                    @media(max-width:368px) {
                        width: 70%;
                        font-size: 24px !important;
                    }

                    @media(max-width:321px) {
                        width: 70%;
                        font-size: 19px !important;
                    }


                    // @media(max-width:469px) {
                    //     width: 75%;
                    //     font-size: 30px !important;

                    // }

                    // @media(max-width:432px) {
                    //     font-size: 32px !important;
                    //     width: 70%;
                    // }

                    // @media(max-width:390px) {
                    //     font-size: 30px !important;
                    //     width: 70%;
                    // }
                    // @media(max-width:375px) {
                    //     font-size: 30px !important;
                    //     width: 75%;
                    // }
                    // @media(max-width:290px) {
                    //     font-size: 27px !important;
                    //     width: 100%;
                    // }






                }

                span {
                    width: 20%;
                    color: var(--faqwriting);

                    @media(max-width:386px) {
                        width: 10%;
                    }
                }

                // @media(max-width:750px){
                //     margin-left: 25px !important;
                // }

                @media(max-width:469px) {
                    max-width: 500px;
                    width: 100%;
                    height: auto;
                }
            }

            .accordion {
                width: auto;
                height: auto;
                margin-bottom: 40px;

                .accordion-item {
                    box-shadow: 1.56px 1px 4.454px 1px rgba(115, 113, 113, 0.2) !important;


                    .lorem1 {



                        @media(max-width:515px) {
                            font-size: 11px !important;
                        }
                    }

                    @media(max-width:464px) {
                        font-size: 7px !important;
                    }

                    @media(max-width:385px) {
                        font-size: 6px !important;
                    }
                }

                h6 {
                    @media(max-width:515px) {
                        font-size: 14px !important;
                    }

                    @media(max-width:464px) {
                        font-size: 11px !important;
                    }

                    @media(max-width:385px) {
                        font-size: 10px !important;
                    }

                }




                .accordion-header {
                    margin-bottom: 0;



                    .accordion-button {

                        background-color: #FFF;
                        box-shadow: none;
                        color: var(--faqcolor);
                        --bs-accordion-btn-icon: none;
                        --bs-accordion-btn-active-icon: none;
                        --bs-accordion-btn-icon-transform: rotate(90deg) !important;
                        border-radius: 50% !important;
              


                    }

                    .accordion-button::after {
                        position: absolute;
                        content: "\203A";

                        box-shadow: 1.56px 1px 4.454px 1px rgba(115, 113, 113, 0.2) !important;
                        margin: 0px !important;
                        padding-left: 4px !important;
                        padding-bottom: 6px !important;
                        color: #FFF;
                        right: 8px !important;
                        top: 11px !important;
                        width: 31px;
                        height: 31px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        font-size: 29px !important;
                        color: var(--roundplayarrow);
                        background-color: #FFF;

                        @media(max-width:515px) {
                            width: 25px;
                            height: 25px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            right: 5px !important;
                        }

                    }


                    .accordion-button:not(.collapsed)::after {
                        position: absolute;
                        font-size: 29px !important;
                        background-color: var(--roundplayarrow);
                        color: #FFF;
                        box-shadow: none !important;

         

                        padding-left: 4px !important;
                        padding-bottom: 4px !important;



                    }




                    #one {
                        margin-top: 20px;
                    }

                    #two {
                        margin-top: 20px;
                    }

                    #three {
                        margin-top: 20px;
                    }

                    #four {
                        margin-top: 20px;
                    }
                }

            }

            @media(max-width:750px) {
                margin-left: 30px !important;
            }

        }
    }
}