.franchiseform {
  .container {
    .row {
        @media (max-width:768px){
            flex-direction: column-reverse !important;
        }
      .franchiseFormImg {
        .img {
          border-radius: 50px;
          position: relative;
          .overlayDesc {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: rgba(0, 0, 0, 0.6);
            border-radius: 30px;
            .d-flex {
              padding: 130px 0;
              h4 {
                letter-spacing: 1.5px;
                color: #fff;
                text-align: center;
                font-family: Montserrat;
                font-size: normal;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
                span {
                  color: #e3b142;
                  font-family: Montserrat;
                  font-size: normal;
                  font-style: normal;
                  font-weight: 900;
                  line-height: normal;
                }
              }
            }
          }
        }
      }
      .formTitle {
        h4 {
          color: #979797;
          text-align: center;
          font-family: Montserrat;
          font-size: 40px;
          font-style: normal;
          font-weight: 900;
          line-height: normal;
          span {
            color: #e3b142;
            font-family: Montserrat;
            font-size: 40px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
          }
        }
        p {
          max-width: 700px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #979797;
          text-align: center;
          font-family: Inter;
          font-size: small;
          font-style: normal;
          font-weight: 400;
          line-height: 140%; 
          letter-spacing: 0.881px;
        }
      }
      .formInput {
        position: relative;
        input {
          max-width: 250px;
          width: 100%;
          padding: 10px;
          border-radius: 20px;
          border: 1px solid #d1d1d1;
          outline: none;
        }
        label {
          position: absolute;
          padding: 0 8px 0 8px;
          top: -10px;
          left: 20px;
          z-index: 10;
          background-color: #fff;
          color: #979797;
          font-family: Montserrat;
          font-size: small;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }
  }
}
