.Myform {
    width: 100%;
    height: auto;
    @include displayCenter;

    .writeforms {
        width: 100%;
        max-width: 600px;
        border-radius: 20px !important;
        background-color: rgb(253, 251, 245);
        @include displayCenter;
        flex-direction: column;


        .title {
            width: auto;
            height: auto;
            @include displayCenter;
            flex-direction: column;

            h3 {
                color: var(--whyfranchise);
                font-family: Montserrat;
                font-style: normal;
                font-weight: 700;

            }

            h4 {
                color: var(--roundplayarrow);
                font-family: Montserrat;
                font-style: normal;
                font-weight: 700;
            }

        }

        .mainpart {
            width: 100%;
            max-width: 400px;
            display: flex;
            flex-direction: column;

            .first {
                width: 100%;
                height: auto;

                input{
                    border: none;
                    border-bottom: 1px solid  black ;
                    padding: 1vh 0;
                    &:focus{
                        outline: none;
                        border-color: aqua;
                    }
                }





            }


            .footicon {
                width: 100%;
                display: flex;
                background-color: var(--roundplayarrow);
                justify-content: space-around;
                align-items: center;
                border-radius: 20px;

                .box1 {
                    width: 10%;

                    img {
                        width: 25px;
                    }
                }

                .box2 {
                    width: 10%;

                    img {
                        width: 30px;
                    }
                }

                .box3 {
                    width: 10%;

                    img {
                        width: 35px;
                    }
                }

                .box4 {
                    width: 10%;

                    img {
                        width: 30px;
                    }
                }

                .writing {
                    display: flex;
                    align-items: center;
                    justify-content: center;


                    h3 {
                        color: #FFF;
                        font-family: Montserrat;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 700;
                        margin-top: 10px;
                    }
                }



            }


        }

    }

}