header {
  hr {
    transform: translateY(-3px);
    color: grey;
  }
  .container-fluid {
    .row {
      padding: 10px;
      .d-flex {
        gap: 10px;
        .search-container {
          display: flex;
          background-color: #fff;
          border-radius: 50px;
          overflow: hidden;
          border: 1px solid var(--border-grey);
        }

        

        .search-input {
          border: none;
          outline: none;
          padding: 3px;
          width: 500px;
          caret-color: var(--border-grey);
          &::placeholder {
            color: var(--placeholder);
            font-family: Montserrat;
            font-style: normal;
            font-weight: 450;
            line-height: normal;
            font-size: small;
          }
        }

        .search-icon {
          color: #000;
          display: flex;
          align-items: center;
          padding: 5px;
          margin-left: 8px;
          cursor: pointer;
        }
      }
      .navbarDetails {
        .d-flex {
          gap: 15px;
          .userMobile {
            display: none;
          }
          .cart {
            .svgBox {
              position: relative;
              .cartTotal {
                position: absolute;
                top: -4px;
                right: -5px;
                width: 16px;
                height: 16px;
                background-color: var(--cart-total);
                @include displayCenter;
                border-radius: 50%;
                border: 1px solid var(--bg-white);
                span {
                  color: var(--bg-white);
                  font-size: x-small;
                  transform: translateX(0.5px);
                  text-align: center !important;
                }
              }
            }
          }
          .heart {
            .svgBox {
              position: relative;
              .cartTotal {
                position: absolute;
                top: -4px;
                right: -5px;
                width: 16px;
                height: 16px;
                background-color: var(--cart-total);
                @include displayCenter;
                border-radius: 50%;
                border: 1px solid var(--bg-white);
                span {
                  color: var(--bg-white);
                  font-size: x-small;
                  transform: translateX(0.5px);
                  text-align: center !important;
                }
              }
            }
          }
          .signIn {
            .signA {
              padding: 3px 20px 5px 20px;
              background-color: transparent;
              border-radius: 25px 25px 25px 25px;
              border: 1px solid var(--border-grey);
              a {
                color: var(--sign-a);
                font-family: Montserrat;
                font-size: 13px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-decoration: none;
              }
            }
          }
          .signUp {
            .signA {
              padding: 3px 20px 5px 20px;
              background-color: var(--sign-up);
              border-radius: 25px 25px 25px 25px;
              border: 1px solid var(--border-grey);

              a {
                color: var(--nav-a);
                font-family: Montserrat;
                font-size: 13px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-decoration: none;
              }
            }
          }
          .lang {
            .langBox {
              span {
                color: var(--sign-a);
                font-family: Montserrat;
                font-size: small;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
              }
            }
          }
        }
      }
    }
  }
  nav {
    display: flex;
    justify-content: center;
    .hamburgerMenu {
      display: none;
    }
    ul {
      @include displayCenter;
      gap: 40px;
      li {
        list-style: none;
        a {
          text-decoration: none;
          font-family: Montserrat;
          font-size: small;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          color: var(--sign-a);
          position: relative;
          transition: 250ms;
          &::before {
            position: absolute;
            content: "";
            top: 23px;
            left: 50%;
            transform: translate(-50%, -23%);
            width: 0;
            height: 2px;
            border-radius: 20px;
            background-color: var(--nav-a);
            transition: 250ms;
          }
          &:hover::before {
            width: 30px;
          }
          &:hover {
            color: var(--nav-a);
          }
        }

        .active {
          position: relative;
          color: var(--nav-a);
          &::before {
            position: absolute;
            content: "";
            top: 23px;
            left: 50%;
            transform: translate(-50%, -23%);
            width: 30px;
            height: 2px;
            border-radius: 20px;
            background-color: var(--nav-a);
            transition: 250ms;
          }
        }
      }
    }
  }
}

@media (max-width: 880px) {
  header {
    .destkopHr {
     display: none;
    }
   
    .container-fluid {
      .row {
        .d-flex {
          .search-container {
            display: none;
          }
        }
        .navbarDetails {
          .d-flex {
            display: flex;
            justify-content: end !important;
            flex-direction: row-reverse;

            .signIn {
              display: none;
            }
            .heart {
              display: none;
            }
            .lang {
              transform: translateX(5px);
              .langBox {
                span {
                  font-size: medium;
                }
              }
            }
            .signUp {
              display: none;
            }
            .userMobile {
              display: block;
              svg {
                transform: translateY(-1px);
              }
            }
          }
        }
      }
    }
    nav {
      display: block;
      .hamburgerMenu {
        display: flex;
        border-top: 1px solid var(--border-grey);
        border-bottom: 1px solid var(--border-grey);
        .d-flex {
          gap: 10px;
          .search-container {
            display: flex;
            background-color: #fff;
            overflow: hidden;
          }
    
          .search-input {
            border: none;
            outline: none;
            padding: 3px;
            width: 100%;
            caret-color: var(--border-grey);
            &::placeholder {
              color: var(--placeholder);
              font-family: Montserrat;
              font-style: normal;
              font-weight: 450;
              line-height: normal;
              font-size: small;
            }
          }
    
          .search-icon {
            color: #000;
            display: flex;
            align-items: center;
            padding: 5px;
            margin-left: 8px;
            cursor: pointer;
          }
        }
        .btn {
          padding: 10px 10px;
          border-radius: 0 !important;
          border-right: 1px solid var(--border-grey);
        }
        .btn-close {
          --bs-btn-close-focus-shadow: none;
        }
        .offcanvas-header {
          padding-bottom: 0;
        }
        .offcanvas-body {
          .row {
            div {
              padding: 0 !important;
              a {
                text-decoration: none;
                font-family: Montserrat;
                font-size: small;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                color: var(--sign-a);
                transition: 250ms;
              }
              .active {
                color: var(--nav-a);
              }
              &:hover {
                a {
                  color: var(--nav-a);
                  cursor: pointer;
                }
              }
            }
          }
          .d-flex {
            gap: 10px;

            .search-container {
              display: flex;
              justify-content: center !important;
              align-items: center;
              background-color: #fff;
              overflow: hidden;
              border: none;
              border-radius: 0 !important;
              border-bottom: 1px solid var(--border-grey);
            }

            .search-input {
              border: none;
              outline: none;
              padding: 3px;
              width: 500px;
              caret-color: #b9b9b9;
              &::placeholder {
                color: var(--sign-a);
                font-family: Montserrat;
                font-style: normal;
                font-weight: 450;
                line-height: normal;
                font-size: small;
              }
            }

            .search-icon {
              color: var(--black);
              display: flex;
              align-items: center;
              padding: 5px;
              margin-left: -5px;
              cursor: pointer;
            }
          }
        }
      }
      ul {
        display: none;
      }
    }
  }
}
