.ormadoKaffeSwiper {
  .container-fluid {
    .row {
      .arrowDown {
        position: relative;
        svg {
          position: absolute;
          bottom: 0;
          left: -6%;
          transform: translate(-6%, 0);
        }
      }
      .d-flex {
        .ormadoKaffeBox {
          width: 120%;
          height: 250px;
          background-image: url("../assets/img/beansbg.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          position: relative;
          
          @media (max-width:1100px){
            width: 120%;
            height: 180px;
            transform: translate(20px,-10px);
          }

          .ormadoKaffeText {
            position: absolute;
            width: auto;
            height: auto;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
            
            .ormadoh1 {
              color: var(--cart-total);
              font-family: Montserrat;
              font-size: 60px;
              font-style: normal;
              line-height: normal;
              font-weight: 900;
              @media (max-width:1100px){
                // background-color: red;
                font-size: 40px;
              }
            }
            .kaffehaush1 {
              color: var(--nav-a);
              font-family: Montserrat;
              font-size: 60px;
              font-style: normal;
              font-weight: 900;
              line-height: normal;
              @media (max-width:1100px){
                // background-color: red;
                font-size: 50px;
                line-height:40px;
              }
            }
            .kaffehausp {
              color: var(--placeholder);
              font-family: Montserrat;
              font-size: 12.9px;
              font-style: normal;
              font-weight: 500;
              line-height: 19px;
              @media (max-width:1100px){
                line-height: 15px;
                font-size: 10px;
              }
            }
            .kaffehausa {
              padding: 6px 15px;
              background-color: var(--cart-total);
              border-radius: 20px 20px 20px 20px;
              color: var(--bg-white);
              text-decoration: none;
              font-family: Montserrat;
              font-size: small;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              position: absolute;
              bottom: -10px;
            }
          }
        }
      }
      img {
        max-width: 520px;
        width: 100%;
      }
    }
  }
}



.swiperMobil {
  width: calc(100% - 0%);
  height: auto;
  position: relative;

  @media (max-width:1100px){
    .imgSwiperCoffe{
      width: 90% !important;
    }
  }


  .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: calc(100% - 0%);
    flex-direction: column;
    gap: 10px;
  }

  .swiper-pagination-bullet {
    background: #fff;
    width: 9px;
    height: 9px;
    display: block;
    opacity: 0.8;
    transition: all 0.3s;
    border-radius: 10px;
  }
  .swiper-pagination-bullet-active {
    background-color: #4e2922;
    opacity: 1;
    height: 30px;
    box-shadow: rgba(0, 0, 0, 0.25);
  }
}


