.container-fluid {
  .ourstory-section1 {
    .ourstory-main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: relative;
      .blastLeft {
        position: absolute;
        left: 0;
        top: -130px;
        width: 550px;
        @media (max-width: 1450px) {
          width: 500px;
        }
        @media (max-width: 1350px) {
          width: 450px;
        }
        @media (max-width: 1250px) {
          width: 400px;
          top: -75px;
        }
        @media (max-width: 1150px) {
          width: 350px;
          top: -55px;
        }
        @media (max-width: 1050px) {
          width: 300px;
          top: -45px;
        }
        @media (max-width: 950px) {
          width: 250px;
          top: -45;
        }
        @media (max-width: 850px) {
          top: -30px;
        }
        @media (max-width: 750px) {
          top: -20px;
          width: 230px;
        }
        @media (max-width: 650px) {
          top: -30px;
          width: 190px;
        }
        @media (max-width: 550px) {
          width: 170px;
          top: -20px;
        }
        @media (max-width: 450px) {
          width: 145px;
          top: -10px;
        }
        @media (max-width: 400px) {
          width: 125px;
          top: -5px;
        }
        @media (max-width: 350px) {
          width: 110px;
          top: -5px;
        }
      }
      h1 {
        color: var(--cart-total);
        font-weight: bold;
        @media (max-width: 950px) {
          font-size: 30px;
        }
        @media (max-width: 650px) {
          font-size: 25px;
        }
        @media (max-width: 550px) {
          font-size: 21px;
        }
        @media (max-width: 400px) {
          font-size: 18px;
        }
      }
      img {
        width: 220px;
        @media (max-width: 950px) {
          width: 200px;
        }
        @media (max-width: 650px) {
          width: 160px;
        }
        @media (max-width: 550px) {
          width: 130px;
          margin-top: 0 !important;
        }
        @media (max-width: 450px) {
          margin-bottom: 0 !important;
        }
      }
      .ourstory-main-text {
        width: 43%;
        p {
          font-family: Montserrat;
          font-size: 15px;
          font-weight: 500;
          color: var(--nav-a);
          @media (max-width: 950px) {
            font-size: 14px;
          }
          @media (max-width: 650px) {
            font-size: 11px;
          }
          @media (max-width: 550px) {
            font-size: 11px;
          }
          @media (max-width: 550px) {
            font-size: 9px;
          }
          @media (max-width: 350px) {
            font-size: 7px;
          }
          @media (max-width: 350px) {
            font-size: 6px;
          }
        }
        @media (max-width: 1450px) {
          width: 46%;
        }
        @media (max-width: 1350px) {
          width: 49%;
        }
        @media (max-width: 1250px) {
          width: 52%;
        }
        @media (max-width: 1150px) {
          width: 55%;
        }
        @media (max-width: 1050px) {
          width: 60%;
        }
        @media (max-width: 950px) {
          width: 65%;
        }
        @media (max-width: 850px) {
          width: 75%;
        }
      }
      .blastRight {
        position: absolute;
        right: 0;
        bottom: -170px;
        width: 550px;
        @media (max-width: 1450px) {
          width: 500px;
        }
        @media (max-width: 1350px) {
          width: 450px;
        }
        @media (max-width: 1250px) {
          width: 400px;
        }
        @media (max-width: 1150px) {
          width: 350px;
        }
        @media (max-width: 1050px) {
          width: 300px;
          bottom: -100px;
        }
        @media (max-width: 950px) {
          width: 250px;
          bottom: -65px;
        }
        @media (max-width: 850px) {
          bottom: -85px;
        }
        @media (max-width: 750px) {
          bottom: -75px;
          width: 230px;
        }
        @media (max-width: 650px) {
          bottom: -55px;
          width: 190px;
        }
        @media (max-width: 550px) {
          width: 170px;
          bottom: -52px;
        }
        @media (max-width: 450px) {
          width: 145px;
          bottom: -40px;
        }
        @media (max-width: 400px) {
          width: 125px;
          bottom: -34px;
        }
        @media (max-width: 350px) {
          width: 110px;
        }
      }
    }
  }
  .ourstory-section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 200px;
    @media (max-width: 1200px) {
      margin-top: 150px;
    }
    @media (max-width: 950px) {
      margin-top: 80px;
    }
    @media (max-width: 650px) {
      margin-top: 55px;
    }
    @media (max-width: 550px) {
      margin-top: 50px;
    }
    h1 {
      color: var(--cart-total);
      font-weight: bold;
      span {
        color: var(--sign-a);
      }
      @media (max-width: 950px) {
        font-size: 30px;
      }
      @media (max-width: 650px) {
        font-size: 25px;
      }
      @media (max-width: 550px) {
        font-size: 21px;
      }
      @media (max-width: 400px) {
        font-size: 18px;
      }
    }
    .ourstory-section2-text {
      width: 43%;
      p {
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 500;
        color: var(--nav-a);
        @media (max-width: 950px) {
          font-size: 14px;
        }
        @media (max-width: 650px) {
          font-size: 11px;
        }
        @media (max-width: 550px) {
          font-size: 11px;
        }
        @media (max-width: 550px) {
          font-size: 9px;
        }
        @media (max-width: 350px) {
          font-size: 7px;
        }
        @media (max-width: 350px) {
          font-size: 6px;
        }
      }
      @media (max-width: 1450px) {
        width: 46%;
      }
      @media (max-width: 1350px) {
        width: 49%;
      }
      @media (max-width: 1250px) {
        width: 52%;
      }
      @media (max-width: 1150px) {
        width: 55%;
      }
      @media (max-width: 1050px) {
        width: 60%;
      }
      @media (max-width: 950px) {
        width: 65%;
      }
      @media (max-width: 850px) {
        width: 75%;
      }
    }
    .blastRight {
      position: absolute;
      right: 0;
      bottom: -130px;
      width: 550px;
      @media (max-width: 1450px) {
        width: 500px;
      }
      @media (max-width: 1350px) {
        width: 450px;
      }
      @media (max-width: 1250px) {
        width: 400px;
      }
      @media (max-width: 1150px) {
        width: 350px;
      }
      @media (max-width: 1050px) {
        width: 300px;
        bottom: -100px;
      }
      @media (max-width: 950px) {
        width: 250px;
        bottom: -50px;
      }
      @media (max-width: 850px) {
        bottom: -85px;
      }
      @media (max-width: 750px) {
        bottom: -75px;
        width: 230px;
      }
      @media (max-width: 650px) {
        bottom: 25px;
        width: 190px;
      }
      @media (max-width: 550px) {
        width: 170px;
        bottom: 85px;
      }
      @media (max-width: 450px) {
        width: 145px;
        bottom: 80px;
      }
      @media (max-width: 400px) {
        width: 125px;
        bottom: 60px;
      }
      @media (max-width: 350px) {
        width: 110px;
        bottom: 140px;
      }
    }
  }
  .ourstory-section3{
    .ourstory-section3-cards{
      display: flex;
        flex-direction: column;
        align-items: center;
      .ourstory-section3-cardmain{
          display: grid;
          grid-template-columns: 50% 50%;
          column-gap: 10px;
          .card-img{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 200px;
            @media (max-width: 1215px){
              height: 160px;
            }
            @media (max-width: 1110px){
              height: 140px;
            }
            @media (max-width: 992px){
              height: 120px;
            }
            @media (max-width: 800px){
              height: 165px;
            }
            @media (max-width: 650px){
              height: 145px;
            }
            @media (max-width: 550px){
              height: 105px;
            }
            @media (max-width: 415px){
              height: 95px;
            }
            @media (max-width: 360px){
              height: 65px;
            }
            @media (max-width: 325px){
              height: 45px;
            }
            img{
                max-width: 300px;
                border-radius: 13px;
                @media (max-width: 1215px){
                    max-width: 250px;
                }
                @media (max-width: 992px){
                    max-width: 210px;
                }
                @media (max-width: 800px){
                    max-width: 240px;
                }
                @media (max-width: 650px){
                    max-width: 210px;
                }
                @media (max-width: 550px){
                    max-width: 180px;
                }
                @media (max-width: 415px){
                    max-width: 160px;
                }
                @media (max-width: 360px){
                    max-width: 140px;
                }
                @media (max-width: 325px){
                    max-width: 120px;
                }
            }
        }
      }
    }
  }
  .ourstory-section4{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 130px;
    @media (max-width: 1200px) {
      margin-top: 100px;
    }
    @media (max-width: 950px) {
    text-align: center;
    margin-top: 60px;
    }
    @media (max-width: 650px) {
      margin-top: 35px;
    }
    @media (max-width: 550px) {
      margin-top: 20px;
    }
    .ourstory-section4-text1{
      width: 50%;
      @media (max-width: 1300px) {
        width: 65%;
      }
      @media (max-width: 950px) {
        width: 70%;
      }
      @media (max-width: 750px) {
        width: 75%;
      }
      @media (max-width: 550px) {
        width: 80%;
      }
      h1 {
        color: var(--nav-a);
        font-weight: bold;
        font-family: Montserrat;
        @media (max-width: 950px) {
          font-size: 30px;
        }
        @media (max-width: 650px) {
          font-size: 25px;
        }
        @media (max-width: 550px) {
          font-size: 21px;
        }
        @media (max-width: 400px) {
          font-size: 18px;
        }
      }
      p {
        font-family: Inter;
        font-size: 15px;
        font-weight: 500;
        color: var(--sign-a);
        @media (max-width: 950px) {
          font-size: 14px;
          text-align: center;
        }
        @media (max-width: 650px) {
          font-size: 11px;
        }
        @media (max-width: 550px) {
          font-size: 11px;
        }
        @media (max-width: 550px) {
          font-size: 9px;
        }
        @media (max-width: 350px) {
          font-size: 7px;
        }
        @media (max-width: 350px) {
          font-size: 6px;
        }
      }
    }
    .ourstory-section4-text2{
      width: 50%;
      @media (max-width: 1300px) {
        width: 65%;
      }
      @media (max-width: 950px) {
        width: 70%;
      }
      @media (max-width: 750px) {
        width: 75%;
      }
      @media (max-width: 550px) {
        width: 80%;
      }
      h1 {
        color: var(--cart-total);
        font-weight: bold;
        font-family: Montserrat;
        @media (max-width: 950px) {
          font-size: 30px;
        }
        @media (max-width: 650px) {
          font-size: 25px;
        }
        @media (max-width: 550px) {
          font-size: 21px;
        }
        @media (max-width: 400px) {
          font-size: 18px;
        }
      }
      p {
        font-family: Inter;
        font-size: 15px;
        font-weight: 500;
        color: var(--sign-a);
        @media (max-width: 950px) {
          font-size: 14px;
        }
        @media (max-width: 650px) {
          font-size: 11px;
        }
        @media (max-width: 550px) {
          font-size: 11px;
        }
        @media (max-width: 550px) {
          font-size: 9px;
        }
        @media (max-width: 350px) {
          font-size: 7px;
        }
        @media (max-width: 350px) {
          font-size: 6px;
        }
      }
    }
  }
  .ourstory-section5{
    display: flex;
    flex-direction: row;
    // align-items: center;
    // justify-content: center;
    @media (max-width:750px){
      flex-direction: column;
      align-items: center;
    justify-content: center;
    }
    .ourstory-section5-cards{
      width: 50%;
      @media (max-width:750px){
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .card-part1{
        width: 87%;
        position: relative;
        height: 700px;
        @media (max-width:1550px){
          height: 700px;
        }
        @media (max-width:1400px){
          height: 600px;
        }
        @media (max-width:1250px){
          height: 550px;
        }
        @media (max-width:1150px){
          height: 500px;
        }
        @media (max-width:1000px){
          height: 450px;
        }
        @media (max-width:950px){
          height: 400px;
        }
        @media (max-width:850px){
          height: 350px;
        }
        @media (max-width:800px){
          height: 300px;
        }
        @media (max-width:750px){
          width: 80%;
          height: 600px;
          border-radius: 55px;
        }
        @media (max-width:600px){
          height: 500px;
        }
        @media (max-width:550px){
          height: 450px;
        }
        @media (max-width:500px){
          height: 400px;
        }
        @media (max-width:450px){
          height: 350px;
        }
        @media (max-width:400px){
          height: 300px;
        }
        @media (max-width:350px){
         height: 250px;
        }
        img{
          border-top-right-radius: 55px;
          border-bottom-right-radius: 55px;
          width: 100%;
          height: 700px;
          @media (max-width:1550px){
            height: 700px;
          }
          @media (max-width:1400px){
            height: 600px;
          }
          @media (max-width:1250px){
            height: 550px;
          }
          @media (max-width:1150px){
            height: 500px;
          }
          @media (max-width:1000px){
            height: 450px;
          }
          @media (max-width:950px){
            height: 400px;
          }
          @media (max-width:850px){
            height: 350px;
          }
          @media (max-width:800px){
            height: 300px;
          }
          @media (max-width:750px){
            height: 600px;
            border-radius: 55px;
          }
          @media (max-width:600px){
            height: 500px;
          }
          @media (max-width:550px){
            height: 450px;
          }
          @media (max-width:500px){
            height: 400px;
          }
          @media (max-width:450px){
            height: 350px;
          }
          @media (max-width:400px){
            height: 300px;
          }
          @media (max-width:350px){
           height: 250px;
          }
          
        }
        padding: 0 !important;
        
        
        .background-black{
            width: 100%;
            background-color: black;
            opacity: 0.2;
            border-top-right-radius: 55px;
            border-bottom-right-radius: 55px;
            position: absolute;
            height: 700px;
            @media (max-width:1550px){
              height: 700px;
            }
            @media (max-width:1400px){
              height: 600px;
            }
            @media (max-width:1250px){
              height: 550px;
            }
            @media (max-width:1150px){
              height: 500px;
            }
            @media (max-width:1000px){
              height: 450px;
            }
            @media (max-width:950px){
              height: 400px;
            }
            @media (max-width:850px){
              height: 350px;
            }
            @media (max-width:800px){
              height: 300px;
            }
            @media (max-width:750px){
              height: 600px;
              border-radius: 55px;
            }
            @media (max-width:600px){
              height: 500px;
            }
            @media (max-width:550px){
              height: 450px;
            }
            @media (max-width:500px){
              height: 400px;
            }
            @media (max-width:450px){
              height: 350px;
            }
            @media (max-width:400px){
              height: 300px;
            }
            @media (max-width:350px){
             height: 250px;
            } height: 30vh;
        }
        .card-main{
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
              width: 70px;
              @media (max-width:1000px){
                width: 50px;
              }
              @media (max-width:500px){
                width: 40px;
              }
              @media (max-width:350px){
                width: 30px;
              }
            }
              
            
        }
    }
    }
    .ourstory-section5-text{
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      @media (max-width:750px){
        width: 90%;
        margin-top: 50px;
      }
      
        h1{
          width: 80%;
          font-family: Montserrat;
          font-style: normal;
          font-weight: 800;
          line-height: normal;
          color: var(--nav-a);
          @media (max-width:1450px){
            font-size: 35px;
          }
          @media (max-width:1250px){
            font-size: 30px;
          }
          @media (max-width:1050px){
            font-size: 20px;
            
          }
          @media (max-width:850px){
            font-size: 15px;
          }
          @media (max-width:750px){
            font-size: 33px;
            text-align: center;
            margin-left: 0 !important;
          }
          @media (max-width:600px){
            font-size: 25px;
          }
          @media (max-width:450px){
            font-size: 20px;
          }
          @media (max-width:355px){
            font-size: 17px;
          }
        }
        .text-main{
          width: 70%;
          @media (max-width:1000px){
            margin-bottom: 0!important;
          }
          @media (max-width:450px){
            margin-bottom: 0!important;
          }
        p{
          font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          color: var(--sign-a);
          @media (max-width:1450px){
            font-size: 10px;
          }
          @media (max-width:1450px){
            font-size: 8px;
          }
          @media (max-width:1050px){
            font-size: 7px;
          }
          @media (max-width:750px){
            font-size: 13px;
            text-align: center;
          }
          @media (max-width:600px){
            font-size: 10px;
          }
          @media (max-width:450px){
            font-size: 7px;
            margin-bottom: 30px !important;
          }
          @media (max-width:355px){
            font-size: 6px;
          }
          
        }
      }
      .text-number{
        width: 70%;
        display: flex;
        justify-content: space-between;
        text-align: center;
        h2{
          color: var(--cart-total);
          font-family: Montserrat;
          font-style: normal;
          font-weight: 900;
          line-height: normal;
          @media (max-width:1450px){
            font-size: 35px;
          }
          @media (max-width:1250px){
            font-size: 30px;
          }
          @media (max-width:1050px){
            font-size: 25px;
          }
          @media (max-width:850px){
            font-size: 20px;
          }
          @media (max-width:750px){
            font-size: 40px;
            
          }
          @media (max-width:600px){
            font-size: 35px;
          }
          @media (max-width:445px){
            font-size: 25px;
            margin-bottom: 10px !important;
          }
          @media (max-width:355px){
            font-size: 20px;
          }
        }
        p{
          color: var(--sign-a);
          font-family: Montserrat;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          @media (max-width:1450px){
            font-size: 10px;
          }
          @media (max-width:1450px){
            font-size: 8px;
          }
          @media (max-width:1050px){
            font-size: 7px;
          }
          @media (max-width:750px){
            font-size: 15px;
          }
          @media (max-width:600px){
            font-size: 10px;
          }
          @media (max-width:450px){
            font-size: 8px;
          }
          @media (max-width:355px){
            font-size: 7px;
          }
        }
      }
    }
    
  }
  
}
