.container-fluid {
  .ourstory-section1 {
    .ourstory-main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: relative;
      .blastLeft {
        position: absolute;
        left: 0;
        top: -130px;
        width: 550px;
        @media (max-width: 1450px) {
          width: 500px;
        }
        @media (max-width: 1350px) {
          width: 450px;
        }
        @media (max-width: 1250px) {
          width: 400px;
          top: -75px;
        }
        @media (max-width: 1150px) {
          width: 350px;
          top: -55px;
        }
        @media (max-width: 1050px) {
          width: 300px;
          top: -45px;
        }
        @media (max-width: 950px) {
          width: 250px;
          top: -45;
        }
        @media (max-width: 850px) {
          top: -30px;
        }
        @media (max-width: 750px) {
          top: -20px;
          width: 230px;
        }
        @media (max-width: 650px) {
          top: -30px;
          width: 190px;
        }
        @media (max-width: 550px) {
          width: 170px;
          top: -20px;
        }
        @media (max-width: 450px) {
          width: 145px;
          top: -10px;
        }
        @media (max-width: 400px) {
          width: 125px;
          top: -5px;
        }
        @media (max-width: 350px) {
          width: 110px;
          top: -5px;
        }
      }
      h1 {
        color: var(--cart-total);
        font-weight: bold;
        @media (max-width: 950px) {
          font-size: 30px;
        }
        @media (max-width: 650px) {
          font-size: 25px;
        }
        @media (max-width: 550px) {
          font-size: 21px;
        }
        @media (max-width: 400px) {
          font-size: 18px;
        }
      }
      img {
        width: 220px;
        @media (max-width: 950px) {
          width: 200px;
        }
        @media (max-width: 650px) {
          width: 160px;
        }
        @media (max-width: 550px) {
          width: 130px;
          margin-top: 0 !important;
        }
        @media (max-width: 450px) {
          margin-bottom: 0 !important;
        }
      }
      .ourstory-main-text {
        width: 43%;
        p {
          font-family: Montserrat;
          font-size: 15px;
          font-weight: 500;
          color: var(--nav-a);
          @media (max-width: 950px) {
            font-size: 14px;
          }
          @media (max-width: 650px) {
            font-size: 11px;
          }
          @media (max-width: 550px) {
            font-size: 11px;
          }
          @media (max-width: 550px) {
            font-size: 9px;
          }
          @media (max-width: 350px) {
            font-size: 7px;
          }
          @media (max-width: 350px) {
            font-size: 6px;
          }
        }
        @media (max-width: 1450px) {
          width: 46%;
        }
        @media (max-width: 1350px) {
          width: 49%;
        }
        @media (max-width: 1250px) {
          width: 52%;
        }
        @media (max-width: 1150px) {
          width: 55%;
        }
        @media (max-width: 1050px) {
          width: 60%;
        }
        @media (max-width: 950px) {
          width: 65%;
        }
        @media (max-width: 850px) {
          width: 75%;
        }
      }
      .blastRight {
        position: absolute;
        right: 0;
        bottom: -170px;
        width: 550px;
        @media (max-width: 1450px) {
          width: 500px;
        }
        @media (max-width: 1350px) {
          width: 450px;
        }
        @media (max-width: 1250px) {
          width: 400px;
        }
        @media (max-width: 1150px) {
          width: 350px;
        }
        @media (max-width: 1050px) {
          width: 300px;
          bottom: -100px;
        }
        @media (max-width: 950px) {
          width: 250px;
          bottom: -65px;
        }
        @media (max-width: 850px) {
          bottom: -85px;
        }
        @media (max-width: 750px) {
          bottom: -75px;
          width: 230px;
        }
        @media (max-width: 650px) {
          bottom: -55px;
          width: 190px;
        }
        @media (max-width: 550px) {
          width: 170px;
          bottom: -52px;
        }
        @media (max-width: 450px) {
          width: 145px;
          bottom: -40px;
        }
        @media (max-width: 400px) {
          width: 125px;
          bottom: -34px;
        }
        @media (max-width: 350px) {
          width: 110px;
        }
      }
    }
  }
  .ourstory-section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 200px;
    @media (max-width: 1200px) {
      margin-top: 150px;
    }
    @media (max-width: 950px) {
      margin-top: 80px;
    }
    @media (max-width: 650px) {
      margin-top: 55px;
    }
    @media (max-width: 550px) {
      margin-top: 50px;
    }
    h1 {
      color: var(--cart-total);
      font-weight: bold;
      span {
        color: var(--sign-a);
      }
      @media (max-width: 950px) {
        font-size: 30px;
      }
      @media (max-width: 650px) {
        font-size: 25px;
      }
      @media (max-width: 550px) {
        font-size: 21px;
      }
      @media (max-width: 400px) {
        font-size: 18px;
      }
    }
    .ourstory-section2-text {
      width: 43%;
      p {
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 500;
        color: var(--nav-a);
        @media (max-width: 950px) {
          font-size: 14px;
        }
        @media (max-width: 650px) {
          font-size: 11px;
        }
        @media (max-width: 550px) {
          font-size: 11px;
        }
        @media (max-width: 550px) {
          font-size: 9px;
        }
        @media (max-width: 350px) {
          font-size: 7px;
        }
        @media (max-width: 350px) {
          font-size: 6px;
        }
      }
      @media (max-width: 1450px) {
        width: 46%;
      }
      @media (max-width: 1350px) {
        width: 49%;
      }
      @media (max-width: 1250px) {
        width: 52%;
      }
      @media (max-width: 1150px) {
        width: 55%;
      }
      @media (max-width: 1050px) {
        width: 60%;
      }
      @media (max-width: 950px) {
        width: 65%;
      }
      @media (max-width: 850px) {
        width: 75%;
      }
    }
    .blastRight {
      position: absolute;
      right: 0;
      bottom: -130px;
      width: 550px;
      @media (max-width: 1450px) {
        width: 500px;
      }
      @media (max-width: 1350px) {
        width: 450px;
      }
      @media (max-width: 1250px) {
        width: 400px;
      }
      @media (max-width: 1150px) {
        width: 350px;
      }
      @media (max-width: 1050px) {
        width: 300px;
        bottom: -100px;
      }
      @media (max-width: 950px) {
        width: 250px;
        bottom: -50px;
      }
      @media (max-width: 850px) {
        bottom: -85px;
      }
      @media (max-width: 750px) {
        bottom: -75px;
        width: 230px;
      }
      @media (max-width: 650px) {
        bottom: 25px;
        width: 190px;
      }
      @media (max-width: 550px) {
        width: 170px;
        bottom: 85px;
      }
      @media (max-width: 450px) {
        width: 145px;
        bottom: 80px;
      }
      @media (max-width: 400px) {
        width: 125px;
        bottom: 60px;
      }
      @media (max-width: 350px) {
        width: 110px;
        bottom: 140px;
      }
    }
  }
}
