.Payments {
    background-color: #FFF;
    width: auto;
    height: auto;
    overflow: hidden;

    .leftside {
        .title {
            width: 70%;
            height: auto;

            h1 {

                color: #979797;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
                font-size: 50px;

                .mpay {
                    color: #E3B142;
                }
            }
        }

        .click {
            width: auto;
            height: 27px;
            border-radius: 82.836px;
            background-color: #E3B142;
            outline: none !important;
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            padding: 11px;


            h6 {
                color: #FFF;
                font-family: Montserrat;
                font-size: 10.283px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-top: 5px;

            }

        }

        .about {
            width: 70%;
            height: auto;
            margin-top: 25px;

            h6 {
                color: #979797;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
            }
        }

        .store {
            width: 70%;
            display: flex;
            align-items: center;
            margin-top: 25px;

            .imgleft {
                width: 35%;
            }

            .imgright {
                width: 30%;

            }

        }
    }

    .iphone {
        flex-shrink: 0;
        margin-top: 5px;
      
    }




    .Slick {
        width: 100%;
        height: auto;
        cursor: pointer;
        position: relative;
        margin-top: 10px !important;

        .slick-dots {
            display: none !important;
        }

        .slider {
        margin-bottom: 50px !important;

            .slicklogo {
                width: auto;
                height: auto;
                margin-top: 0px !important;
                z-index: 1;

                #one {
                    width: 36px;
                    // margin-left: 10px;

                }

                img {
                    width: 37px;
                    height: 37px;

                }
            }
        }


        .writing {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 5px;

            h2 {
                color: var(--slick);
                text-align: center;
                margin-top: 0 !important;
                font-size: 30px;

            }

            p {
                color: var(--title);
                text-align: center;

            }

        }


    }





    .next-slick-arrow,
    .prev-slick-arrow {
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-10%);
        font-size: 20px;
        color: white;
        margin-left: 20px;
        margin-bottom: 10px;
        color: var(--roundplayarrow);
        padding: 21px;
        border: none;
        display: none;


    }

    .next-slick-arrow {
        margin-right: -25px;
        transform: translateY(-50%) rotate(360deg);
    }

    .prev-slick-arrow {
        margin-left: -23px;
        transform: translateY(-50%) rotate(180deg);
        color: var(--carousellogos);
        z-index: 3;
    }


}


@media(max-width:768px) {
    .leftside {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;


        .title {
            width: 100% !important;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;

            h1 {

                color: #979797;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
                font-size: 29px !important;

                .mpay {
                    color: #E3B142;
                }
            }
        }


    }

    .store {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



@media(max-width:376px) {
    .leftside {
        width: 100%;
        height: auto;

        .title {
            width: 100% !important;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;

            h1 {

                color: #979797;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
                font-size: 26px !important;

                .mpay {
                    color: #E3B142;
                }
            }
        }



        .about {
            width: 100%;
            height: auto;
            margin-top: 5px;

            p {
                color: #979797;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 7px !important;
            }
        }


        .store {
            width: 70% !important;
            display: flex;
            align-items: center;
            margin-top: 20px;

            .imgleft {
                width: 35% !important;
                height: auto;
            }

            .imgright {
                width: 30% !important;
                height: auto;
            }

        }


        .click {
            width: 17% !important;
            height: 14px !important;
            border-radius: 32.836px;
            background-color: #E3B142 !important;
            outline: none !important;
            margin-top: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            padding: 2px !important;


            h6 {
                color: #FFF;
                font-family: Montserrat;
                font-size: 6.283px !important;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-top: 5px !important;

            }

        }

        .iphone {
            width: 100% !important;
            height: auto;

        }

    }


.Slick{
    width: auto;
    height: auto;

    .writing{

        h2{
            font-size: 33px !important;
        }
    }
}
     


    .slider {
        width: auto;
        height: auto;



        .slicklogo {
            width: auto;
            height: auto;

            img {
                width: 30px;
                margin-top: 3px !important;
            }
        }


    }


    .next-slick-arrow,
    .prev-slick-arrow {
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 22px !important;
        color: white;
        padding: 10px ;
        border: none;
        border-radius: 5px;
        display: block !important;
        margin-top:0 !important ;
    }

    .next-slick-arrow {
        right: 18px;
        transform: translateY(-20%) rotate(360deg);
        margin-top: 20px;
        z-index: 0;
    }

    .prev-slick-arrow {
        left: 15px;
        transform: translateY(-20%) rotate(180deg);
        z-index: 4;
        margin-top: 20px;
    }



}

@media(max-width:414px){

    .next-slick-arrow,
    .prev-slick-arrow {
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 22px;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        display: block !important;
    }

    .next-slick-arrow {
        right: 18px;
        transform: translateY(-20%) rotate(360deg);
        margin-top: 20px;
        z-index: 0;
    }

    .prev-slick-arrow {
        left: 15px;
        transform: translateY(-20%) rotate(180deg);
        z-index: 4;
        margin-top: 20px;
    }
}


@media(max-width:290px){
    .next-slick-arrow,
    .prev-slick-arrow {
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 22px;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        display: block !important;
    }

    .next-slick-arrow {
        right: 18px;
        transform: translateY(-20%) rotate(360deg);
        margin-top: 20px;
        z-index: 0;
    }

    .prev-slick-arrow {
        left: 15px;
        transform: translateY(-20%) rotate(180deg);
        z-index: 4;
       
    }
}