.products-page {
    .col-md-9 {
        .img-transparent {
            position: relative;

            img {
                width: 100%;
                display: block;
            }

            .img-background {
                position: absolute;
                top: 0;
                background-color: #000;
                border-radius: 20px;
                opacity: 0.4;
                width: auto;
                height: 100%;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }

            .img-text-context {
                position: absolute;
                top: 30%;
                left: 5%;

                h4 {
                    color: #fff;
                    font-size: 20px;
                    font-family: 'Montserrat';
                }

                h2 {
                    color: #fff;
                    font-size: 30px;
                    font-family: 'Montserrat';
                    font-weight: 700;
                }

                button {
                    font-size: 12px;
                    font-family: 'Montserrat';
                    color: #fff;
                    background-color: #E3B142;
                    border: none;
                    border-radius: 20px;
                    padding: 7px 30px;
                }
            }
        }

        .sort-divs {
            .sort-by-featured {
                label {
                    color: #D1D1D1;
                    font-family: 'Montserrat';
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 600;
                    margin-top: 5.5px;
                    margin-right: 5px;
                }

                select {
                    background: none;
                    width: 80px;
                    color: #D1D1D1;
                    font-family: 'Montserrat';
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 600;
                }
            }

            p {
                color: #D1D1D1;
                font-family: 'Montserrat';
                font-size: 12px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                margin-top: 0;
            }

            .ep_menu {
                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }

    .col-md-3 {
        .categories-headline {
            h5 {
                color: #4A3024;
                font-family: 'Poppins', sans-serif;
                font-weight: 500;
            }

            i {
                color: #979797;
                padding-right: 30px;
                margin-bottom: 5px;
            }
        }

        .categories {
            padding-top: 10px;
            overflow: hidden;
            max-height: 500px;
            transition: max-height 0.6s ease;

            .hot-drinks {
                margin-bottom: 10px;

                #radio {
                    border: 2px solid white;
                    box-shadow: 0 0 0 1px #E3B142;
                    appearance: none;
                    border-radius: 50%;
                    width: 15px;
                    height: 15px;
                    background-color: #fff;
                    transition: all ease-in 0.2s;
                    margin-left: 5px;
                    margin-top: 3px;
                }

                #radio:checked {
                    background-color: #E3B142;
                }

                label {
                    margin-left: 10px;
                    color: #D1D1D1;
                    font-family: 'Poppins', sans-serif;
                    margin-bottom: 0;
                }
            }
        }

        .closed {
            max-height: 0;
        }

        .price-slider {
            margin-top: 20px;

            .price-slider-headline {
                h5 {
                    color: #4A3024;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 500;
                }

                i {
                    color: #979797;
                    padding-right: 30px;
                    margin-bottom: 5px;
                }
            }

            .wrapper {
                margin: -10px 30px 15px 10px;

                .control-wrapper {
                    .control {
                        background: #fff;
                        border: 2px solid #4A3024;
                    }

                    .rail {
                        background: #d1d1d1;

                        .inner-rail {
                            background: #4A3024;
                            opacity: 1;
                        }
                    }
                }
            }

            p {
                color: #979797;
                font-weight: 'Poppins';

                .value-max {
                    color: #E3B142;
                }
            }
        }

        .feature-product {
            .card {
                margin-right: 25px;
                border-radius: 15px;
                .col-md-3{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .col-md-9{
                    .card-title {
                        color: #979797; 
                        font-family: Poppins;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                        margin-bottom: 0;
                    }
                    .card-text{
                        color: #979797;
                        font-size: 12px;
                        margin-bottom: 0;
                        .fa-solid{
                            color: #E3B142;
                            font-size: 8px;
                        }
                        .fa-solid:nth-child(5) {
                            color: #979797;
                        }
                    }
                }
            }
        }

        // .featured-product{
        //     .modelDrinkBox {
        //     width: 100%;
        //     height: auto;
        //     border-radius: 15px;
        //     padding: 4px;
        //     margin-bottom: 20px;
        //     transition: 250ms;
        //     border: 1px solid #d3d3d3;
        //     .img {
        //       transform: translateX(-10%);
        //       height: 60px;
        //       img {
        //         height: 100%;
        //         @media (max-width:370px){
        //           width: 60%;
        //           height: 80%;
        //           object-fit: cover;
        //           transform: translate(10px,8px);
        //         }
        //       }
        //     }
        //     .modalDrinkText {
        //       p {
        //         font-size: 12px;
        //         transform: translate(-12%, 17%);
        //         color: #979797;
        //         font-family: Montserrat;
        //         font-style: normal;
        //         font-weight: 600;
        //         line-height: 18px;
        //         transition: 250ms;
        //         a {
        //           color: #979797;
        //           font-weight: 500;
        //           font-size: 11px;
        //           display: block !important;
        //           transition: 250ms;
        //         }
        //       }
        //       @media (max-width: 990px) {
        //         p {
        //           font-size: xx-small;
        //           line-height: 15px;
        //           transform: translate(-15%, 40%);
        //         }
        //       }
        //       @media (max-width: 768px) {
        //         p {
        //           font-size: 10px;
        //           line-height: 15px;
        //           transform: translate(-15%, 40%);
        //         }
        //       }
        //       @media (max-width: 490px) {
        //         p {
        //           color: brown;
        //           font-size: 7.9px;
        //           line-height: 13px;
        //           transform: translate(-15%, 50%);
        //           a{
        //             font-size: xx-small;
        //           }
        //         }
        //       }
        //     }
        //     &:hover {
        //       background-color: rgba(227, 177, 66, 0.2);
        //       border: 1px solid rgba(227, 177, 66, 0.2);
        //       cursor: pointer;
        //       .modalDrinkText {
        //         p {
        //           color: #4a3024;
        //           a {
        //             color: #4a3024;
        //           }
        //         }
        //       }
        //     }
        //     @media (max-width: 990px) {
        //       font-size: 12px;
        //       padding: 0;
        //     }
        //     @media (max-width: 768px) {
        //       font-size: 12px;
        //       padding: 4px;
        //     }
        //     @media (max-width: 490px) {
        //      padding: 0;
        //      margin-bottom: 10px;

        //     }
        //   }}
    }
}

@media (max-width:991px) {
    .products-page {
        .col-md-9 {
            .img-transparent {
                .img-text-context {
                    position: absolute;
                    top: 20%;
                    left: 5%;

                    h4 {
                        font-size: 16px;
                    }

                    h2 {
                        font-size: 24px;
                    }

                    button {
                        padding: 5px 30px;
                    }
                }
            }
        }
    }
}

@media (max-width:450px) {
    .products-page {
        .col-md-9 {
            .img-transparent {
                .img-text-context {
                    position: absolute;
                    top: 10%;
                    left: 5%;

                    h4 {
                        font-size: 12px;
                        margin-bottom: 4px;
                    }

                    h2 {
                        font-size: 18px;
                        margin-bottom: 4px;
                    }

                    button {
                        font-size: 8px;
                        padding: 5px 30px;
                    }
                }
            }
        }
    }
}