.singin {
  margin: 0;
  .container-fluid {
    .row {
      gap: 100px;
      @media (max-width:768px){
        gap: 50px;
      }

    
      .signImg {

       
        

        position: relative;
        .logoTitle {
          position: absolute;
          top: 20px;
          max-width: 500px;
          width: 100%;


          h2 {
            color: #fff;
            text-align: center;
            font-family: Montserrat;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            // line-height: 178.926px; /* 119.284% */
            letter-spacing: 1.3px;
          
            @media(max-width:1254px){
              font-size: 25px;
            }

            @media(max-width:950px){
              font-size: 20px;
            }


          }
          .logoImg {
            img {
              width: 70px;
            }
            @include displayCenter;
            transform: translateX(13px);
            @media (max-width:850px){
              transform: translateX(0px);
            }
          }



        }



      }



      .formBox {

        margin-top: 100px;
      
        @media(max-width:1062px){
          margin-top: 60px;
        }


        @media(max-width:950px){
          margin-top: 40px !important;
          margin-right: 50px;
        }

        @media(max-width:865px){
          margin-top: 20px !important;
         
        }

        @media(max-width:768px){
          margin-top: 10px !important;
         
        }




      
        .formTitle {
          h5 {
            color: #27272e;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 136.023%;

            @media(max-width:1254px){
              font-size: 18px;
            }

            
        @media(max-width:950px){
          font-size: 15px;
        }
          }
          p {
            color: #27272e;
            font-family: "Inter", sans-serif;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 162.023%;

            @media(max-width:1254px){
              font-size: 11px;
            }

            @media(max-width:950px){
              font-size: 10px;
            }


          }
          @media (max-width:570px){
            text-align: center;
          }
        }
        form {
          max-width: 360px;
          width: 100%;
          @media (max-width:570px){
            max-width: 100%;
            width: 100%;
            padding:  0 50px;
          }
          label {
            color: #425466;
            font-feature-settings: "clig" off, "liga" off;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;


            @media(max-width:1254px){
              font-size: 11px;
            }

            @media(max-width:950px){
              font-size: 10px;
            }



          }
          .valid {
            color: red;
            font-feature-settings: "clig" off, "liga" off;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

          
          }
          input {
            width: 100%;
            padding: 8px;
            border-radius: 50px;
            background-color: #edf2f7;
            border: none !important;
            outline: none;
            &::placeholder {
              color: #7a828a;
              font-feature-settings: "clig" off, "liga" off;
              font-family: Inter;
              font-size: 11px;
              font-style: normal;
              font-weight: 500;
              line-height: 55.058px;
              // transform: translateX(px);

              @media(max-width:950px){
                font-size: 10px;
              }
 

             

            }
          }
          .forgotBox {
            a {
              color: #777e90;
              text-align: right;
              font-feature-settings: "clig" off, "liga" off;
              font-family: Inter;
              font-size: 11px;
              font-style: normal;
              font-weight: 400;
              line-height: 44.046px;
              text-decoration: none;


              @media(max-width:950px){
                font-size: 10px;
              }
            }
          }
          .checkBox {
            display: flex;
            align-items: center !important;
            input {
              width: auto;
              accent-color: #000;
            }
            p {
              transform: translate(4px, 8px);
              color: #979797;
              text-align: right;
              font-feature-settings: "clig" off, "liga" off;
              font-family: Montserrat;
              font-size: 11px;
              font-style: normal;
              font-weight: 400;
              line-height: 44.046px; /* 109.091% */

              @media(max-width:950px){
                font-size: 10px;
              }
            }
          }
          .singInBox {
            width: 100%;
            padding: 10px;
            border: 1px solid #141416;
            @include displayCenter;
            border-radius: 50px;
            transition: 250ms;
 
             @media(max-width:1254px){
              padding: 7px;
             }

             @media(max-width:1254px){
              padding: 6px;
            }

            button {
              background-color: transparent;
              border: none;
              color: #000;
              text-align: center;
              font-family: INTER;
              font-size: 12px;
              font-style: normal;
              font-weight: 600;
              text-decoration: none;
              letter-spacing: 1px;

              @media(max-width:1254px){
                font-size: 12px;
               }
             
               @media(max-width:950px){
                font-size: 11px;
               }
          

            }
            &:hover {
              background-color: #000;
              border: 1px solid #141416;
              button {
                color: #fcfcfd;
              }
            }
          }

          .account {
         

            .tag{
          color: #718096;
          text-align: right;
          font-family: Inter;
          font-style: normal;
          font-weight: 600;


@media(max-width:682px){
  font-size: 11px;
}

            }

        
            a {
              color: #141416;
              font-family: Inter;
              font-size: normal;
              font-style: normal;
              font-weight: 600;
              text-decoration: none;

              @media(max-width:1254px){
                font-weight: 600;
              }
            }
          }
        }
      }

      .formBoxUp {
        margin-top: 20px;
        .formTitle {
          h3 {
            color: #27272e;
            font-family: Inter;
            font-size: 22px;
            font-style: normal;
            font-weight: 600;
            // line-height: 136.023%;
          }
          p {
            color: #27272e;
            font-family: "Inter", sans-serif;
            font-size: 13px;
            font-style: normal;
            font-weight: 500;
            line-height: 162.023%;
          }
        }
        form {
          max-width: 360px;
          
          width: 100%;

          label {
            color: #425466;
            font-feature-settings: "clig" off, "liga" off;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }

          input {
            width: 100%;
            padding: 8px;
            border-radius: 50px;
            background-color: #edf2f7;
            border: none !important;
            outline: none;
            &::placeholder {
              color: #7a828a;
              font-feature-settings: "clig" off, "liga" off;
              font-family: Inter;
              font-size: 11px;
              font-style: normal;
              font-weight: 500;
              line-height: 55.058px;
              // transform: translateX(px);
            }
          }
          .checkBox {
            display: flex;
            align-items: center !important;
            input {
              width: auto;
              accent-color: #000;
            }
            p {
              transform: translate(4px, 15px);
              color: #425466;
              text-align: left;
              font-family: Inter;
              font-size: 11px;
              font-style: normal;
              font-weight: 400;
              span {
                color: #425466;
                font-weight: 700;
              }
            }
          }
          .singInBox {
            width: 100%;
            padding: 12px;
            border: 1px solid #141416;
            @include displayCenter;
            border-radius: 50px;
            transition: 250ms;
            button {
              background-color: transparent;
              border: none;
              color: #000;
              text-align: center;
              font-family: INTER;
              font-size: 12px;
              font-style: normal;
              font-weight: 600;
              text-decoration: none;
              letter-spacing: 1px;
              
            }
            a {
              
              color: #000;
              text-align: center;
              font-family: INTER;
              font-size: 12px;
              font-style: normal;
              font-weight: 600;
              text-decoration: none;
              letter-spacing: 1px;
            }
            i {
              font-size: 17px;
            }
            &:hover {
              background-color: #000;
              border: 1px solid #141416;
              cursor: pointer;
              a {
                color: #fff;
              }
              button{
                color: #fff;
              }
            }
          }
          .account {
            color: #718096;
            text-align: right;
            font-family: Inter;
            font-size: normal;
            font-style: normal;
            font-weight: 600;
            a {
              color: #141416;
              font-family: Inter;
              font-size: normal;
              font-style: normal;
              font-weight: 600;
              text-decoration: none;
            }
          }
          .passTxt {
            color: #718096;
            font-feature-settings: "clig" off, "liga" off;
            font-family: Inter;
            font-size: x-small;
            font-style: normal;
            font-weight: 400;
            // line-height: 40.839px; /* 109.091% */

          
          }
        }
      }
    }
  }
}
