.watchormado{
  width: 100%;
  height: auto !important;
  display: flex;


  .imagebox{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;



    .myiframe{
      width: 100%;
      height: 60vh;
    }
  }
    

}
