.watchormado{
    width: auto;
    height: auto;
    // background-color: aqua;


    .mysize{
      @media(max-width:1042px){

      }
    }
 

      .myiframe{
      width: 80%;
      height: 400px;
      
      }

   }
   
   

