.best-offer{
    .container1{
        .text{
            .text-header{
                font-size: 60px;
                color: #979797;
                span{
                    color: #E3B142;
                }
                
            }
            .text-part2{
                width: 55%;
                font-size: 20px;
                color: #979797;
            }
            @media (max-width:1276px){
                .text-header{
                    font-size: 50px;
                }
                .text-part2{
                    width: 60%;
                }
            }
            @media (max-width:1177px){
                .text-header{
                    font-size: 45px;
                }
                .text-part2{
                    width: 60%;
                    font-size: 18px;
                }
            }
            @media (max-width:1069px){
                .text-header{
                    font-size: 42px;
                }
                .text-part2{
                    width: 60%;
                    font-size: 15px;
                }
            }
            @media (max-width:945px){
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .text-header{
                    width: 100%;
                    font-size: 40px;
                    color: #979797;
                    text-align: center;
                    span{
                        color: #E3B142;
                    }
                }
                .text-part2{
                    text-align: center;
                    width:70%;
                    font-size: 13px;
                    color: #979797;
                }

            }
            @media (max-width:730px){
                .text-header{
                    font-size: 40px;
                    span{
                        color: #E3B142;
                    }
                }
                .text-part2{
                    font-size: 10px;
                }

            }
            @media (max-width:660px){
                .text-header{
                    font-size: 30px;
                    span{
                        color: #E3B142;
                    }
                }
                .text-part2{
                    font-size: 9px;
                }

            }
            @media (max-width:515px){
                .text-header{
                    font-size: 25px;
                    span{
                        color: #E3B142;
                    }
                }
                .text-part2{
                    font-size: 8px;
                }

            }
            @media (max-width:470px){
                .text-header{
                    font-size: 27px;
                    span{
                        color: #E3B142;
                    }
                }
                .text-part2{
                    font-size: 7px;
                }

            }
            @media (max-width:422px){
                .text-header{
                    font-size: 25px;
                    span{
                        color: #E3B142;
                    }
                }
                .text-part2{
                    font-size: 6px;
                }

            }
            @media (max-width:370px){
                .text-header{
                    font-size: 22px;
                }
            }
            @media (max-width:337px){
                .text-header{
                    font-size: 17px;
                }
            }
            
            
            
        }
        .btn-arrow{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            @media (max-width:945px){
                width: 100%;
            }
            button{
                width: 40px;
                height: 40px;
                border: 0;
                background-color: white;
                color:#979797;

                &:hover{
                    border-radius: 100%;
                    border: 2px solid black;
                    color: #E3B142;
                }
            }
        }
        .cards{
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media (max-width:945px){
                justify-content: center;
            }
            .card-part1{
                width: 100%;
                max-width: 580px;
                height: 482px;
                background-image: url(../assets/img/Rectangle_bestOffer.png);
                background-size: contain;
                background-repeat: no-repeat;
                padding: 0 !important;
                border-radius: 5%;
                position: relative;
                @media (max-width:1512px){
                    width: 500px;
                    height: 416px;
                }
                @media (max-width:1310px){
                    width: 450px;
                    height: 373px;
                }
                @media (max-width:1200px){
                    width: 390px;
                    height: 325px;
                }
                @media (max-width:1046px){
                    width: 348px;
                    height: 290px;
                }
                @media (max-width:945px){
                    width: 610px;
                    height: 488px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                @media (max-width:745px){
                    width: 480px;
                    height: 400px;
                }
                @media (max-width:550px){
                    width: 396px;
                    height: 330px;
                }
                @media (max-width:420px){
                    width: 348px;
                    height: 290px;
                }
                @media (max-width:376px){
                    width: 291px;
                    height: 243px;
                }
                .background-black{
                    width: 100%;
                    max-width: 580px;
                    height: 100%;
                    max-height: 482px;
                    background-color: black;
                    opacity: 0.3;
                    border-radius: 5%;
                    @media (max-width:1512px){
                        width: 500px;
                        height: 416px;
                    }
                    @media (max-width:1310px){
                        width: 448px;
                        height: 372px;
                    }
                    @media (max-width:1200px){
                        width: 390px;
                        height: 325px;
                    }
                    @media (max-width:1046px){
                        width: 348px;
                        height: 290px;
                    }
                    @media (max-width:945px){
                        width: 610px;
                        height: 488px;
                    }
                    @media (max-width:745px){
                        width: 480px;
                        height: 400px;
                    }
                    @media (max-width:550px){
                        width: 400px;
                        height: 330px;
                    }
                    @media (max-width:420px){
                        width: 348px;
                        height: 290px;
                    }
                    @media (max-width:376px){
                        width: 291px;
                        height: 243px;
                    }
                }
                .card-main{
                    width: 100%;
                    max-width: 580px;
                    height: 482px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    @media (max-width:1512px){
                        width: 500px;
                        height: 416px;
                    }
                    @media (max-width:1310px){
                        width: 450px;
                        height: 400px;
                    }
                    @media (max-width:1200px){
                        width: 474px;
                        height: 378px;
                    }
                    @media (max-width:1046px){
                        width: 348px;
                        height: 290px;
                    }
                    @media (max-width:945px){
                        width: 600px;
                        height: 488px;
                    }
                    @media (max-width:745px){
                        width: 480px;
                        height: 400px;
                    }
                    @media (max-width:550px){
                        width: 400px;
                        height: 330px;
                    }
                    @media (max-width:420px){
                        width: 348px;
                        height: 290px;
                    }
                    @media (max-width:376px){
                        width: 291px;
                        height: 243px;
                    }
                    .card-main-text{
                        width: 80%;
                        h1{
                            font-family: Montserrat;
                            font-weight: bold;
                            color: white;
                            @media (max-width:1310px){
                                font-size: 25px;
                            }
                            @media (max-width:945px){
                                font-size: 40px;
                            }
                            @media (max-width:550px){
                                font-size: 25px;
                            }
                            @media (max-width:450px){
                                font-size: 20px;
                            }
                            
                        }
                        
                        h3{
                            font-family: Montserrat;
                            font-weight: bold;
                            color: white;
                            @media (max-width:1310px){
                                font-size: 20px;
                            }
                            @media (max-width:945px){
                                font-size: 30px;
                            }
                            @media (max-width:550px){
                                font-size: 20px;
                            }
                            @media (max-width:450px){
                                font-size: 15px;
                            }
                            i{
                                font-size: 50px;
                                font-family: Montserrat;
                                font-weight: bold;
                                color: #E3B142;
                                @media (max-width:1310px){
                                    font-size: 35px;
                                }
                                @media (max-width:945px){
                                    font-size: 50px;
                                }
                                @media (max-width:550px){
                                    font-size: 35px;
                                }
                                @media (max-width:450px){
                                    font-size: 25px;
                                }
                            }
                        }
                        p{
                            color: white;
                            font-family: Montserrat;
                            font-size: 17px;
                            @media (max-width:1310px){
                                font-size: 14px;
                            }
                            @media (max-width:550px){
                                font-size: 13px;
                            }@media (max-width:450px){
                                font-size: 11px;
                            }
                        }
                        button{
                            width: 170px;
                            height: 43px;
                            border-radius: 20px;
                            border: 0;
                            background-color: #E3B142;
                            color: white;
                            @media (max-width:1310px){
                                font-size: 13px;
                                width: 140px;
                                height: 37px;
                            }
                            @media (max-width:945px){
                                font-size: 15px;
                                width: 150px;
                                height: 40px;
                            }
                            @media (max-width:550px){
                                font-size: 13px;
                                width: 120px;
                                height: 30px;
                                
                            }
                            @media (max-width:550px){
                                font-size: 11px;
                                width: 100px;
                                height: 25px;
                                
                            }
                        }
                    }
                }
            }
        }
        .card-column{
            border: 0;
            @media (max-width:945px){
                width: 100%;
            }
            @media (max-width:505px){
                padding: 0;
            }
            .row{
                margin: 0;
                @media (max-width:945px){
                    gap: 25px;
                    margin-top: 60px;
                }
                .card-part2{
                    display: flex;
                    
                    .card-img{
                        width: 235px;
                        padding: 0;
                        @media (max-width:1512px){
                            width: 195px;
                        }
                        @media (max-width:1310px){
                            width: 175px;
                        }
                        @media (max-width:1200px){
                            width: 145px;
                        }
                        @media (max-width:1130px){
                            display: none;
                        }
                        @media (max-width:945px){
                            width: 180px;
                            display: flex;
                            padding: inherit;
                            
                        }
                        @media (max-width:745px){
                            display: none;
                            padding: 0 !important;
                            padding-left: 10px !important;
                        }
                    }
                    .card-body{
                        @media (max-width:945px){
                            padding: 0;
                        }
                        .card-text-main{
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            @media (max-width:945px){
                                width: 100%;
                            }
                            h4{
                                width: 40%;
                                font-family: Montserrat;
                                font-weight: bold;
                                b{
                                    @media (max-width:1345px){
                                        font-size: 20px;
                                    }
                                    @media (max-width:1272px){
                                        font-size: 20px;
                                    }
                                    @media (max-width:600px){
                                        font-size: 15px;
                                    }
                                    @media (max-width:400px){
                                        font-size: 12px;
                                    }
                                }
                            }
                            .line{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 32%;
                                @media (max-width: 1450px){
                                    // width: 100px;
                                    height: 1.5px;
                                    background-color: #979797;
                                }
                                
                                .line-main{
                                    height: 1.5px;
                                    background-color: #979797;
                                }
                            }
                            .card-price{
                                width: 26%;
                                font-size: 25px;
                                font-family: Montserrat;
                                color: #E3B142;
                                display: flex;
                                align-items: center;
                                justify-content: flex-end;
                                @media (max-width:1272px){
                                    font-size: 23px;
                                }
                                @media (max-width:600px){
                                    font-size: 20px;
                                }
                                @media (max-width:400px){
                                    font-size: 15px;
                                }
                            }
                            
                        }  
                        .card-text{
                            color: #979797;
                            @media (max-width:1272px){
                                font-size: 13px;
                            }
                            @media (max-width:600px){
                                font-size: 10px;
                            }
                            @media (max-width:400px){
                                font-size: 8px;
                            }
                        }
                    }
                }
            }
        }
    }

}

// @media (max-width:1700px){
//     .best-offer{
//         .container1{
//             .cards{
//                 .card{
//                     .card-background{
//                         background-color: black;
//                         position: absolute;

//                         opacity: 0.4;
//                         border-radius: 10%;
//                         width: 96.5%;
//                         height: 100%;
//                     }
//                     }
                    
                
//             }
            
//         }
//     }
// }

// @media (max-width:1500px){
//     .best-offer{
//         .container1{
//             .cards{
//                 .card{
//                     .card-background{
//                         background-color: black;
//                         position: absolute;

//                         opacity: 0.4;
//                         border-radius: 10%;
//                         width: 96%;
//                         height: 100%;
//                     }
//                     }
                    
                
//             }
//         }
//     }
// }

// @media (max-width:1046px){
//     .best-offer{
//         .container1{
//             .cards{
//                 .card{
//                     .card-background{
//                         background-color: black;
//                         position: absolute;
//                         opacity: 0.4;
//                         border-radius: 10%;
//                         width: 95.5%;
//                         height: 100%;
//                     }
//                     .card-column{
//                         .row{
//                             .card-img{
//                                 display: none !important;
//                             }
//                             .card-body{
//                                 .card-text-main{
//                                     .line{
//                                         width: 300px !important;
//                                         display: flex;
//                                         align-items: center;
//                                         justify-content: center;
//                                         .line-main{
//                                             height: 1.5px;
//                                             background-color: #979797;
//                                         }
//                                     }
                                    
//                                 }  
//                                 .card-text{
//                                     color: #979797;
//                                 }
//                             }
//                         }
//                     }
//                     }
                    
                
//             }
//         }
//     }
// }
// @media (max-width:1260px){
//     .best-offer{
//         .container1{
//             .cards{
//                 .card{
//                     .card-background{
//                         background-color: black;
//                         position: absolute;

//                         opacity: 0.4;
//                         border-radius: 10%;
//                         width: 95%;
//                         height: 100%;
//                     }
//                     .card-img-overlay{
//                         margin-top: 2px !important;
//                     }
//                     }
                    
                
//             }
//         }
//     }
// }

// @media (max-width:1200px){
//     .best-offer{
//         .container1{
//             .text{
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;
//                 flex-direction: column;
//                 .text-part2{
//                     width: 80%;
//                     color: #979797;
//                 }
//             }
//             .cards{
//                 display: flex;
//                 align-items: center;
                
//                 .card{
//                     border: 0;
//                     position: relative;
//                     img{
//                         border-radius: 10%;
//                     }
//                     .card-background{
//                         background-color: black;
//                         position: absolute;
//                         opacity: 0.4;
//                         border-radius: 10%;
//                         width: 96.5%;
//                         height: 100%;
//                     }
//                         .card-img-overlay{
//                             margin-top: 50px !important;
//                             h1{
//                                 color: white !important;
//                                 font-size: 70px;
//                             }
//                             h3{
//                                 color: white;
//                                 font-size: 50px;
//                                 i{
//                                     color: white;
//                                     font-weight: bold;
//                                     font-size: 70px;
//                                     font-family:Montserrat;
//                                     color: #E3B142;
            
//                                 }
//                             }
//                             p{
//                                 color: white;
//                                 font-size: 23px;
//                             }
//                             button{
//                                 border: 0;
//                                 border-radius: 20px;
//                                 color: white;
//                                 background-color: #E3B142;
//                                 font-size: 22px;
//                               }
//                         }
//                     }
                    
                
//             }
//         }
//     }
// }

// @media (max-width:900px){
//     .best-offer{
//         .container{
//             .text{
//                 .text-header{
//                     font-size: 55px;
//                 }
//                 .text-part2{
//                     font-size: 18px;
//                 }
//             }
//         }
//     }
// }
// @media (max-width:770px){
//     .best-offer{
//         .container1{
//             .text{
//                 .text-header{
//                     font-size: 45px;
//                 }
//                 .text-part2{
//                     font-size: 13px;
//                 }
//             }
//             .cards{
//                 .card-column{
//                     .row{
//                         .col-md-3{
//                             display: none;
//                         }
                     
//                     }
//                 }
//             }
//         }
//     }
// }
// @media (max-width:700px){
//     .best-offer{
//         .container1{
//             .cards{
//                 .card{
//                     .card-background{
//                         background-color: black;
//                         position: absolute;
//                         opacity: 0.4;
//                         border-radius: 10%;
//                         width: 96%;
//                         height: 100%;
//                     }
//                     .card-img-overlay{
//                         h1{
//                             color: white !important;
//                             font-size: 55px;
//                         }
//                         h3{
//                             color: white;
//                             font-size: 30px;
//                             i{
//                                 color: white;
//                                 font-weight: bold;
//                                 font-size: 55px;
//                                 font-family:Montserrat;
//                                 color: #E3B142;
        
//                             }
//                         }
//                         p{
//                             color: white;
//                             font-size: 25px;
//                         }
//                         button{
//                             margin-top: 20px !important;
//                             border: 0;
//                             border-radius: 20px;
//                             color: white;
//                             background-color: #E3B142;
//                             font-size: 20px;
//                           }
//                     }
//                     }
                    
                
//             }
//         }
//     }
// }

// @media (max-width:620px){
//     .best-offer{
//         .container1{
//             margin-top: 0 !important;
//             padding-top: 0 !important;
//             .cards{
//                 .card{
//                     .card-background{
//                         background-color: black;
//                         position: absolute;
//                         opacity: 0.4;
//                         border-radius: 10%;
//                         width: 95.5%;
//                         height: 100%;
//                     }
//                     .card-img-overlay{
//                         h1{
//                             color: white !important;
//                             font-size: 45px;
//                         }
//                         h3{
//                             color: white;
//                             font-size: 30px;
//                             i{
//                                 color: white;
//                                 font-weight: bold;
//                                 font-size: 44px;
//                                 font-family:Montserrat;
//                                 color: #E3B142;
        
//                             }
//                         }
//                         p{
//                             color: white;
//                             font-size: 20px;
//                         }
//                         button{
//                             margin-top: 5px !important;
//                             border: 0;
//                             border-radius: 20px;
//                             color: white;
//                             background-color: #E3B142;
//                             font-size: 14px;
//                           }
//                     }
//                     }
                    
                
//             }
//         }
//     }
// }


// @media (max-width:570px){
//     .best-offer{
//         .container1{
//             .text{
//                 .text-header{
//                     font-size: 35px;
//                 }
//                 .text-part2{
//                     font-size: 11px;
//                 }
//             }
//             .cards{
//                 .card{
//                     .card-background{
//                         background-color: black;
//                         position: absolute;
//                         opacity: 0.4;
//                         border-radius: 10%;
//                         width: 95%;
//                         height: 100%;
//                     }
//                     }
//                     .card-img-overlay{
//                         h1{
//                             color: white !important;
//                         }
//                         h3{
//                             color: white;
//                             i{
//                                 color: white;
//                                 font-weight: bold;
//                                 font-size: 45px;
//                                 font-family:Montserrat;
//                                 color: #E3B142;
        
//                             }
//                         }
//                         p{
//                             color: white;
//                             font-size: 15px;
//                         }
//                         button{
//                             border: 0;
//                             border-radius: 20px;
//                             color: white;
//                             background-color: #E3B142;
//                             font-size: 12px;
//                           }
//                     }
//                     .row{
//                         .col-md-9{
//                             .card-body{
//                                 .card-text-main{
//                                     .line{
//                                         width: 150px !important;
//                                         height: 2px;
//                                         background-color: #979797;
//                                     }
//                                 }
//                             }
//                         }
//                     }  
                
//             }
//         }
//     }
// }

// @media (max-width:510px){
//     .best-offer{
//         .container1{
//             .cards{
//                 .card{
//                     .card-background{
//                         background-color: black;
//                         position: absolute;
//                         opacity: 0.4;
//                         border-radius: 10%;
//                         width: 94.5%;
//                         height: 100%;
//                     }
//                     .card-img-overlay{
//                         h1{
//                             color: white !important;
//                         }
//                         h3{
//                             color: white;
//                             i{
//                                 color: white;
//                                 font-weight: bold;
//                                 font-size: 30px;
//                                 font-family:Montserrat;
//                                 color: #E3B142;
        
//                             }
//                         }
//                         p{
//                             color: white;
//                             font-size: 12px;
//                         }
//                         button{
//                             border: 0;
//                             border-radius: 20px;
//                             color: white;
//                             background-color: #E3B142;
//                             font-size: 10px;
//                           }
//                     }
//                     }
                    
                
//             }
//         }
//     }
// }

// @media (max-width:470px){
//     .best-offer{
//         margin-top: 0 !important;
//         .container1{
//             .text{
//                 .text-header{
//                     font-size: 25px;
//                 }
//                 .text-part2{
//                     font-size: 8px;
//                 }
//             }
//             .cards{
//                 .card{
//                     .card-background{
//                         background-color: black;
//                         position: absolute;
//                         opacity: 0.4;
//                         border-radius: 10%;
//                         width: 93%;
//                         height: 100%;
//                     }
//                     }
//                     .card-text{
//                         display: inline-flex;
//                         align-items: center;
//                         flex-direction: column;
//                         .card-img-overlay{
//                             margin-top: 18px !important;
//                             h1{
//                                 color: white !important;
//                                 font-size: 30px;
//                             }
//                             h3{
//                                 color: white;
//                                 font-size: 20px;
//                                 i{
//                                     color: white;
//                                     font-weight: bold;
//                                     font-size: 30px;
//                                     font-family:Montserrat;
//                                     color: #E3B142;
            
//                                 }
//                             }
//                             p{
//                                 color: white;
//                                 font-size: 7px;
//                             }
//                             button{
//                                 border: 0;
//                                 border-radius: 20px;
//                                 color: white;
//                                 background-color: #E3B142;
//                                 font-size: 10px;
//                                 margin-top: 5px!important;
//                                 padding-left: 15px !important;
//                                 padding-right: 15px !important;
//                               }
//                         }
//                     }
//                     .row{
//                         .col-md-9{
//                             .card-body{
//                                 .card-text-main{
//                                     .line{
//                                         width: 50px !important;
//                                         height: 2px;
//                                         background-color: #979797;
//                                     }
//                                 }
//                             }
//                         }
//                     }   
                
//             }
//         }
//     }
// }

// @media (max-width:380px){
//     .best-offer{
//         .container1{
//             .text{
//                 .text-header{
//                     font-size: 18px;
//                 }
//                 .text-part2{
//                     font-size: 7px;
//                 }
//             }
//             .cards{
//                 .card{
//                     .card-background{
//                         background-color: black;
//                         position: absolute;
//                         opacity: 0.4;
//                         border-radius: 10%;
//                         width: 92%;
//                         height: 100%;
//                     }
//                     .card-text{
                        
//                     display: flex;
//                     align-items: center;
//                     flex-direction: column;
//                         .card-img-overlay{
//                             margin-top: 10px !important;
                            
//                             h1{
//                                 color: white !important;
//                                 font-size: 25px;
//                             }
//                             h3{
//                                 color: white;
//                                 font-size: 15px;
//                                 i{
//                                     color: white;
//                                     font-weight: bold;
//                                     font-size: 25px;
//                                     font-family:Montserrat;
//                                     color: #E3B142;
            
//                                 }
//                             }
//                             p{
//                                 color: white;
//                                 font-size: 8px;
//                             }
//                             button{
//                                 border: 0;
//                                 border-radius: 20px;
//                                 margin: 0 !important;
//                                 color: white;
//                                 background-color: #E3B142;
//                                 font-size: 7px;
//                               }
//                         }
//                     }
//                     }
//                 }
                    
//                 .row{
//                     .col-md-9{
//                         .card-body{
//                             .card-text-main{
//                                 .line{
//                                     width: 40px !important;
//                                     height: 2px;
//                                     background-color: #979797;
//                                 }
//                             }
//                         }
//                     }
//                 }
//             }
//     }
// }