#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

  .mySwiper3{
    .swiper-slide {
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      
    }
    
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
   
    }
  
    
    .swiper-slide{
      
      
      .swiper-main{
        // background-color: #fff;
        // border-color: #fff;
        .img{
          position: relative;
          img{
          border-radius: 70px !important;
          @media (max-width:945px){
            border-radius: 60px !important;
          }
          @media (max-width:600px){
            border-radius: 50px !important;
          }
          @media (max-width:450px){
            border-radius: 35px !important;
          }
          @media (max-width:390px){
            border-radius: 30px !important;
          }
          @media (max-width:350px){
            border-radius: 20px !important;
          }
          }
        }
          .swiper-background{
              position: absolute;
              top: 0;
              background-color: #000;
              opacity: 0.4;
              width: 100%;
              height: 100%;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              border-radius: 70px;
              @media (max-width:945px){
                border-radius: 60px;
              }
              @media (max-width:600px){
                border-radius: 50px ;
              }
              @media (max-width:450px){
                border-radius: 35px ;
              }
              @media (max-width:390px){
                border-radius: 30px ;
              }
              @media (max-width:350px){
                border-radius: 20px ;
              }
          }
          .swiper-text{
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              display: flex;
              align-items: start;
              justify-content: center;
              flex-direction: column;
              @media (max-width:770px){
                align-items: center;
              }
              h1{
                  color: #fff;
                  font-size: 70px;
                  font-weight: bold;
                  span{
                      color: #E3B142;
                  }
                  @media (max-width:1201px){
                      font-size: 60px;
                  }
                  @media (max-width:1201px){
                    font-size: 55px;
                  }
                  @media (max-width:992px){
                    font-size: 50px;
                  }
                  @media (max-width:770px){
                    font-size: 35px;
                    margin-bottom: 10px !important;
                  }
                  @media (max-width:600px){
                    font-size: 25px;
                  }
                  @media (max-width:490px){
                    font-size: 20px;
                  }
                  @media (max-width:360px){
                    font-size: 10px;
                  }
                  
              }
              p{
                  width: 70%;
                  color: #fff;
                  font-size: 20px;
                  font-family: Montserrat;
                  @media (max-width:1201px){
                    font-size: 17px;
                  }
                  @media (max-width:1201px){
                    font-size: 15px;
                  }
                  @media (max-width:992px){
                    font-size: 12px;
                  }
                  @media (max-width:770px){
                    font-size: 9px;
                  }
                  @media (max-width:600px){
                    font-size: 7px;
                  }
                  @media (max-width:490px){
                    width: 75%;
                    font-size: 6px;
                  }
                  @media (max-width:415px){
                    font-size: 5px;
                  }
                  @media (max-width:460px){
                    font-size: 4px;
                  }
                
              }
          }
      }
    }
  
    .swiper-pagination{
      .swiper-pagination-bullet{
        background: #fff;
        width: 8px;
        height: 8px;
        opacity: 0.8;
        transition: all 0.3s;
        border-radius: 10px;
      }
      .swiper-pagination-bullet-active{
        background-color: #E3B142;
        opacity: 1;
        width: 30px;
        box-shadow: rgba(0, 0, 0, 0.25);
      }
      
    }
  
  }
  
 

// @media(max-width: 1410px){
//  .mySwiper3{

//   .swiper-slide{
//     .swiper-main{
//       .img{
//         img{
//           border-radius: 62px !important;
//         }
//       }
//         .swiper-background{
//             border-radius: 62px;
//         }
//     }
//   }
//  }
// }
// @media(max-width: 1220px){
// .mySwiper3{
//   .swiper-slide{
//     .swiper-main{
//       .img{
//         img{
//           border-radius: 57px !important;
//         }
//       }
//         .swiper-background{
//             border-radius: 57px;
//         }
//     }
//   }
// }
// }


// @media(max-width: 1120px){
//   .mySwiper3{
//     .swiper-slide{
//       .swiper-main{
//         .img{
//           img{
//             border-radius: 52px !important;
//           }
//         }
//           .swiper-background{
//               border-radius: 52px;
//           }
//       }
//     }
//   }
// }
// @media(max-width: 1020px){
// .mySwiper3{
//   .swiper-slide{
//     .swiper-main{
//       .img{
//         img{
//           border-radius: 47px !important;
//         }
//       }
//         .swiper-background{
//             border-radius: 47px;
//         }
//     }
//   }
// }
// }
// @media(max-width: 920px){
//   .mySwiper3{
//     .swiper-slide{
//       .swiper-main{
//         .img{
//           img{
//             border-radius: 42px !important;
//           }
//         }
//         .swiper-text{
//           align-items: center;
//           justify-content: center;
//           flex-direction: column;
//           h1{
//               font-size: 50px;
//               span{
//                   color: #E3B142;
//               }
//           }
//           p{
//               width: 80%;
//               font-size: 14px ;
//               text-align: center;
//               font-family: Montserrat;
//           }
//       }
//           .swiper-background{
//               border-radius: 42px;
//           }
//       } 
//     }
//   }
// }


// @media(max-width: 820px){
//   .mySwiper3{
//     .swiper-slide{
//       .img{
//         img{
//           border-radius: 37px !important;
//         }
//       }
//       .swiper-main{
//         .swiper-text{
//           align-items: center;
//           justify-content: center;
//           flex-direction: column;
//           h1{
//               font-size: 40px;
//               margin-bottom: 10px !important;
//               span{
//                   color: #E3B142;
//               }
//           }
//           p{
//             width: 80%;
//             font-size: 13px ;
//             text-align: center;
//             font-family: Montserrat;
//           }
//       }
//           .swiper-background{
//               border-radius: 37px;
//           }
//       }
//     }
//   }
// }


// @media(max-width: 720px){
//  .mySwiper3{
//   .swiper-slide{
//     .swiper-main{
//       .swiper-text{
//         align-items: center;
//         justify-content: center;
//         flex-direction: column;
//         h1{
//             font-size: 35px;
//             margin-bottom: 10px !important;
//             span{
//                 color: #E3B142;
//             }
//         }
//         p{
//           width: 90%;
//           font-size: 12px ;
//           text-align: center;
//           font-family: Montserrat;
//         }
//     }
//       .img{
//         img{
//           border-radius: 32px !important;
//         }
//       }
//         .swiper-background{
//             border-radius: 32px;
//         }
//     }
//   }
//  }
// }
// @media(max-width: 620px){
//   .mySwiper3{
//     .swiper-slide{
//       .swiper-main{
//         .img{
//           img{
//             border-radius: 27px !important;
//           }
//         }
//           .swiper-background{
//               border-radius: 27px;
//           }
//           .swiper-text{
//             align-items: center;
//             justify-content: center;
//             flex-direction: column;
//             h1{
//                 font-size: 30px;
//                 span{
//                     color: #E3B142;
//                 }
//             }
//             p{
//                 width: 80%;
//                 font-size: 10px ;
//                 text-align: center;
//                 font-family: Montserrat;
//             }
//         }
//       }
//     }
//   }
// }
// @media(max-width: 520px){
//   .mySwiper3{
//     .swiper-slide{
//       .swiper-main{
//         .img{
//           img{
//             border-radius: 22px !important;
//           }
//         }
//           .swiper-background{
//               border-radius: 22px;
//           }
//           .swiper-text{
//             align-items: center;
//             justify-content: center;
//             flex-direction: column;
//             h1{
//                 font-size: 20px;
//                 span{
//                     color: #E3B142;
//                 }
//             }
//             p{
//                 width: 90%;
//                 font-size: 10px ;
//                 line-height:normal;
//                 text-align: center;
//                 font-family: Montserrat;
//             }
//         }
//       }
//     }
//   }
// }
// @media(max-width: 420px){
//   .mySwiper3{
//     .swiper-slide{
//       .swiper-main{
//         .img{
//           img{
//             border-radius: 17px !important;
//           }
//         }
//           .swiper-background{
//               border-radius: 17px;
//           }
//           .swiper-text{
//             align-items: center;
//             justify-content: center;
//             flex-direction: column;
//             h1{
//                 font-size: 15px;
//                 span{
//                     color: #E3B142;
//                 }
//             }
//             p{
//                 width: 90%;
//                 font-size: 10px ;
                
//             }
//         }
//       }
//     }
//   }
// }
// @media(max-width: 320px){
//  .mySwiper3{
//   .swiper-slide{
//     .swiper-main{
//       .img{
//         img{
//           border-radius: 15px !important;
//         }
//       }
//         .swiper-background{
//             border-radius: 15px;
//         }
//         .swiper-text{
//           align-items: center;
//           justify-content: center;
//           flex-direction: column;
//           h1{
//               font-size: 12px;
//               span{
//                   color: #E3B142;
//               }
//           }
//           p{
//               width: 90%;
//               font-size: 8px ;
//               line-height: 7px;
//           }
//       }
//     }
//   }
//  }
// }