@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
:root {
  --box-shadow-coffeModal: rgba(0, 0, 0, 0.25);
  --coffeModal-txt: #502e2d;
  --bg-white: #fff;
  --border-grey: #d1d1d1;
  --placeholder: #979797;
  --cart-total: #e3b142;
  --sign-a: #979797;
  --sign-up: #d2c59d;
  --black: #000;
  --nav-a: #4a3024;
  --bg-white: #f1eaea;
  --slick: #4a3024;
  --title: #717171;
  --carousellogos: #979797;
  --roundplayarrow: #e3b142;
  --cakewriting: #4a3024;
  --faqwriting:#A7A4A4;
  --faqcolor:#4E2922;
  --whyfranchise:#4A3024;
  
  
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden ;
}

// SCROLL CHANGE
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #643f3d;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #472e2d;
}

// ANIMATE CSS
@import "animate.css";

// Variable Mixin
@import "./variable";

// BREAD CRUMB
@import "./breadcrumb" ;

// Navbar
@import "./navbar";

// ORMADO KAFFE SWIPER
@import "./ormadokaffeswiper";

// Enjoy New Coffe
@import "./enjoynewcoffe";

// PRODUCTS
@import "./productcards" ;

//Products Details
@import "./productdetails" ;

@import "./products" ;

@import "./rangeslider" ;

// PAYMENT
@import "./payment";

// CAKES
@import "./cakes";

// TEST DETAILS
@import "./TestDetails.scss";

// FRANCHISE
@import "./Franchise.scss";

//Faqs
@import "./faqs";

// BLOG
@import "Blog";

//WHY US
@import "./WhyUs.scss";

//BEST OFFER
@import "./BestOffer.scss";

//NewSweets
@import "./NewSweets.scss";

// Footer 
@import "./footer.scss" ;

//NEW SWEETS
@import "./NewSweets.scss";
   
// SWIPER TESNIMONIALS
@import "swiper-testimonials";

// NUTRITION PAGE
@import "./nutrition" ;

// SIGN IN
@import "./signin" ;

//Create Account
@import "./createaccount";

// FRANCHISE PAGE
@import "pagefranchise";

// Gallery
@import "Gallery";


// WATCH PAGE
@import "watch";

// CATEGORY PAGE
@import "./category" ;



@import "ormadolocation";

@import "ourstory" ;


@import "pagination" ;


// WATCH PAGE
@import "watch";

// CATEGORY PAGE
@import "./category" ;

@import "./contact" ;


// Reserve
@import "./reserve";


@import "./BlogDetails.scss" ;

@import "./franchiseform" ;

@import "./myaccount" ;

.swiperMobil1{
  margin-top: 200px;
  .swiper-pagination-bullet {
    margin-top: 20px;
  }
}


.pagination{
  gap: 15px;
  @include displayCenter;
  .previous-num{
    width: 24px;
    height: 25px;
    color: #D1D1D1;
    border-radius:50px;
    border: 1px solid #D1D1D1;
    @include displayCenter ;
    transform: 250ms;
    text-decoration: none;
  }
  .active{
    color: #E3B142;
    border: 1px solid #E3B142 ;
    transition: 0s !important;
  }
  .page-num{
    width: 23px;
    height: 25px;
    border-radius:50px;
    border: 1px solid #D1D1D1;
    @include displayCenter ;
    transform: 250ms;
    i{
      color: #979797;
      font-size: 11px;
    }
    &:hover{
      i{
        color: #E3B142;
      }
    }
  }
}



