.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
    width: 100%;
  
    .slide-con {
      width: 70%;
  
      margin: 0px auto;
      .btn-groups {
        button {
          border-radius: 89.278px;
          background: rgba(209, 209, 209, 0.2);
          border: none;
          font-size: 10px;
          width: 47.615px;
          height: 47.615px;
          margin: 10px 20px 0px;
          outline-style: none;
        }
      }
  
      .left {
        background-color: #fff;
  
        .item {
          position: relative;
          border-radius: 14.88px;
          background: #fafafa;
          padding: 30px 20px;
  
          margin: 30px 0px;
          img {
            height: 40px;
            top: -17px;
  
            position: absolute;
          }
  
          color: #4a3024;
          opacity: 0.2;
  
          p {
            font-weight: 400;
            font-family: Manrope;
            font-size: 17px;
  
            font-style: normal;
          }
        }
      }
      .right {
        text-align: center;
        padding: 10px;
  
        display: flex;
        flex-direction: column;
  
        border-radius: 60px;
        background: #fff;
        box-shadow: 0px 0px 148.7963px 0px rgba(0, 0, 0, 0.05);
        img {
          width: 100%;
          height: 100%;
        }
        .name {
          padding: 20px 0px;
          h2 {
            color: #e3b142;
            font-family: Montserrat;
            font-size: 17px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
          p {
            @extend h2;
            color: #4a3024;
  
            font-weight: 500;
          }
        }
      }
    }
  }
  .left-col-12 {
    order: 1;
  }
  .right-col-12 {
    order: 2;
  }
  
  .active {
    transition: all 1s;
    opacity: 1 !important;
  }
  
  @media only screen and (max-width: 992px) {
    .row {
      .left-col-12 {
        order: 2 !important;
        .left{
         margin-top: 10px;
         .item{
          min-width:200px;
         }
        }
        .btn-groups {
          margin-left: -80px;
        }
      }
      .right-col-12 {
        order: 1 !important;
      }
    }
  }
  