.accountBox {
  .title {
    h3 {
      color: #979797;
      font-family: Montserrat;
      font-size: normal;
      font-style: normal;
      font-weight: 700;
      // line-height: 138.896px;
      span {
        color: #e3b142;
      }
      @media (max-width: 768px) {
        padding-bottom: 15px;
      }
    }
    @media (max-width: 768px) {
      text-align: center;
    }
  }
  .accountInfo {
    width: 90%;
    height: 200px;
    background-color: #fcfcfd;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    .info {
      display: flex;
      margin-top: 10px;
      cursor: pointer;
      svg {
        width: 20px;
        height: 20px;
        // fill: #e3b142;
      }
      .accountSvg {
        fill: #979797;
      }
      .orderSvg {
        fill: #979797;
      }
      .logoutSvg {
        fill: none;
        stroke: #979797;
      }
      .infoP {
        display: inline-block;
        color: #979797;
        font-family: Inter;
        font-size: normal;
        font-style: normal;
        font-weight: 700;
        // line-height: 54.566px;
      }
      p {
        display: inline-block;
        color: #979797;
        opacity: 0.9;
        font-family: Inter;
        font-size: normal;
        font-style: normal;
        font-weight: 700;
      }
    }
    .active {
      cursor: pointer;
      p {
        color: #e3b142;
      }
      .orderSvg {
        fill: #e3b142;
      }
      .accountSvg {
        fill: #e3b142;
      }
      .logoutSvg {
        stroke: #e3b142;
      }
    }
  }
}
