.myaccount {
  .container {
    .row {
      .accountBox {
        .title {
          h3 {
            color: #979797;
            font-family: Montserrat;
            font-size: normal;
            font-style: normal;
            font-weight: 700;
            // line-height: 138.896px;
            span {
              color: #e3b142;
            }
            @media (max-width:768px){
              padding-bottom: 15px;
            }
          }
          @media (max-width:768px){
            text-align: center;
          }
        }
        .accountInfo {
          width: 100%;
          height: 200px;
          background-color: #fcfcfd;
          box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 8px;
          .info {
            display: flex;
            margin-top: 10px;
            svg {
              width: 20px;
              height: 20px;
              // fill: #e3b142;
            }
            .infoP {
              display: inline-block;
              color: #e3b142;
              font-family: Inter;
              font-size: normal;
              font-style: normal;
              font-weight: 700;
              // line-height: 54.566px;
            }
            p{
              display: inline-block;
              color: #979797 ;
              opacity: 0.9;
              font-family: Inter;
              font-size: normal;
              font-style: normal;
              font-weight: 700;
            }
          }

        }
      }
      .formDetails {
        form {
          p {
            color: #979797;
            font-family: Montserrat;
            font-size: normal;
            font-style: normal;
            font-weight: 700;
            line-height: 60px;
          }
          .inputBox {
            display: flex;
            flex-direction: column;
            gap: 10px;
            label {
              color: #b1b5c3;
              font-family: Montserrat;
              font-size: 12px;
              font-style: normal;
              font-weight: 700;
            }
            input {
              width: 100%;
              padding: 8px;
              border-radius: 50px;
              outline: none;
              border: 1px solid #e6e8ec;
            }
          }
          .genderBox {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 6px;
            max-width: 320px;
            width: 100%;
            .genderChoose {
              padding: 7px 15px;
              background-color: transparent;
              border-radius: 20px 20px 20px 20px;
              border: 1px solid #e6e8ec;
              color: #b1b5c3;
              font-family: Inter;
              font-size: small;
              font-style: normal;
              font-weight: 600;
            }
          }
          .genderLabel {
            color: #b1b5c3;
            font-family: Montserrat;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
          }
          .checkBox {
            gap: 10px;
            input {
              accent-color: #000;
            }
            p {
              color: #b1b5c8;
              font-family: Montserrat;
              font-size: small;
              font-style: normal;
              font-weight: 600;
              transform: translateY(7px);
            }
          }
          .d-flex {
            .updateBtn {
              margin-top: 20px;
              border: none;
              background-color: rgba(74, 48, 36, 1);
              color: #fcfcfd;
              padding: 12px 25px;
              text-align: center;
              font-family: Inter;
              font-size: small;
              font-style: normal;
              font-weight: 700;
              border-radius: 50px;
            }
            .clearBtn {
              background-color: transparent;
              border: none;
              color: #777e90;
              font-family: Inter;
              font-size: small;
              font-style: normal;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}
