.ProductDetails{
  padding: 0 50px ;
  justify-content: center;
  display: flex;
  @media(max-width:859px) {
    padding: 0 10px;
  }
  hr{
    color: rgba(151, 148, 148, 0.481);
  }

  .carouselSection{

    @media(max-width:859px) {
      margin: 0 0 10% 0;
    }
    width: 100%;
    height: 400px;
    overflow: hidden;
    height: fit-content;
    .swiper-sliders{  
      @media(min-width:971px) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        
      }
      padding: 3%;
      .productdetails-images-slider{
        width: 100%;
        // background-color: #c77f7f; 
        border: 1px solid #000;
        .swiper-slide{
          width: 50%;
          overflow: hidden;
          justify-content: center;
          display: flex;
          .productdetails-images-slider-wrapper{
            display: flex;
            justify-content: center;
            img{
              width: 100%;
              top: 0;
              left: 0;
            }
          }
          .productdetails-images-slider-thumbs-wrapper:active{
            border: 1px solid red;
            background-color: #777;
            width: 50px;
            height: 50px;
          }
          
        }

      }
      .productdetails-images-slider-thumbs{
        @media(min-width:971px) {
          width: 100%;
          padding: 0;
          height:max-content;
        }
        width: 60%;
       justify-content: end;
       display: flex;
        // background-color: rgb(154, 167, 124); 
        // margin-top:30px ;
        .swiper-wrapper{
          @media(min-width:971px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 40%;
            
          }
        }
        .productdetails-images-slider-thumbs:active{
          border-color: #4A3024;
        }
        .productdetails-images-slider-thumbs-wrapper{
          justify-content: space-between;
          margin-top: 10px;
          display: flex;

          img{
            top: 0;
            left: 0;
            width: 100%;
            
          }
          }
        }
      }
    }

  

  .details-product{
    max-width: 600px;
    width: 100%;
    .title-head{
      max-width: 600px;
      width: 100%;
      display: flex;
      @media(max-width:400px) {
       justify-content: center;
      }

      h4{
        color: var(--3, #4A3024);
        font-family: Montserrat;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        @media(max-width:400px) {
          font-size: 20px;
        }
      }
      
      .green-border{
        border-radius: 40px;
        background: rgba(32, 181, 38, 0.20);
        color: #2C742F;
        padding: 0 3px;
        margin-left: 10px;
        white-space: nowrap;
        @media(max-width:400px) {
        max-width: 60px;
        width: 100%;

        }
      }
      @media(max-width:778px) {
        white-space: nowrap;
      }
  
    }
    .star-review{
      max-width: 600px;
      width: 100%;
      display: flex;
      align-items: center;
      @media(max-width:400px) {
        justify-content: center;
      }
   
      .star{
        i{
          color:rgba(227, 177, 66, 1);
        }
      }
      .review-font{
        color: var(--4, #979797);
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        margin-right: 20px;
        line-height: 150%; 
        margin-bottom: 0;
        margin-left: 5px;
      }
      .thin-font{
        color: var(--4, #979797);
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; 
        margin-bottom: 0;
        span{
          color: #979797;
          font-family: Montserrat;
          font-size: 12px;
          font-style: normal;
          font-weight: 700;
          line-height: 150%; 
        }
      }
    }
    .discount{
      max-width: 500px;
      width: 100%;
      display: flex;
      align-items: center;
      margin-top: 10px;
      @media(max-width:400px) {
        justify-content: center;
      }
      .line-price{
        color: var(--4, #979797);
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 86.783px */
        text-decoration-line: line-through;
        margin-right: 10px;
      }
      .real-price{
        color: var(--5, #E3B142);
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 104.139px */
        margin-right: 10px;
      }
      .discount-price{
        border-radius: 86.783px;
        background: #EA4B48;
        color: #FFF;
        padding: 2px 8px 2px 8px;
      }
    }
    .description-1{
      p{
        color: var(--4, #979797);
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 60px */
      }
      @media(max-width:400px) {
        justify-content: center;
      }
    }
    .description-2{
      border-radius: 20px;
      background: rgba(227, 177, 66, 0.20);
      padding: 15px;
      h6{
        color: #4E2922;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 60px */
      }
      p{
        color: #4E2922;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 45px */
      }
      span{
        color: #4E2922;
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 37.5px */
        text-decoration-line: underline;
      }
      @media(max-width:400px) {
        justify-content: center;
      }
    }
    .category{
      margin-top: 10px;
      .grey-span{
        color: #979797;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 60.748px */
      }
      .yellow-span{
        color: var(--5, #E3B142);
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 60.748px */
        margin-left: 10px;
      }
    }
    .quantity-box{
      text-align: center;
      max-width: 700px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
       @media(max-width:400px){
          flex-wrap: wrap;
          justify-content: center;
          
        }
      .quantity-two{
        border-radius: 25px;
        padding: 15px;
        border: 2px solid var(--2, #D1D1D1);
        width: 100%;
        height: 45px;
        background: #FFF;
        padding: 0px 5px 0 5px;
        max-width: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.5rem;
        .quantity{
          border-radius: 50%;
          background: #F2F2F2;
          i{
            color: rgba(151, 151, 151, 1);
          }
        }
        span{
          margin: 0 10px ;
          color: var(--3, #4A3024);
          text-align: center;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 24px */
        }
      }
      .addtocart-btn{
        max-width: 800px;
        width: 100%;
        padding: 3px 9px;
        border-radius: 124.388px;
        background: #4A3024;
        margin-left:15px ;
        padding: 10px;
        @media(max-width:400px) {
          white-space: nowrap;
          order:1; 
          margin-top: 10px;
          margin-left: 0;
        }        
        span{
          margin-top: 5px;
          margin-left: 10px;
          color: #FFF;
          font-family: Montserrat;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 120%; 
        }
        svg{
          width: 17px;
          margin-left: 10px;
          height: 14px;
          flex-shrink: 0;
        }
      }
      .heart-icon{
        border-radius: 124.388px;
        background: #979797;
        display: flex;
        padding: 10px;
        align-items: flex-start;
        margin-left: 10px;
        i{
          color: rgba(255, 255, 255, 1) ;
        }
        // @media(max-width:400px){
        //   order: -1; 
        // }
      }
    }
  }

  .main-description{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    h6{
      color: var(--4, #979797);
      font-family: Montserrat;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%; /* 98px */
      letter-spacing: 1.4px;
    }
    span{
      display: flex;
      text-align: center;
      justify-content: center;
    }
    .description-text{
      max-width: 900px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: start;
      p{
        margin-top: 20px;
        color: #777;
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 56px */
        letter-spacing: 0.8px;
      }
    }
  }

  .related-products{
    justify-content: center;
    align-items: center;
    text-align: center;
    h6{
      color: var(--4, #979797);
      font-family: Montserrat;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%; /* 98px */
      letter-spacing: 1.4px;
    }
    span{
      display: flex;
      text-align: center;
      justify-content: center;
    }
    .related-single-cards{
      justify-content: center;
      align-items: center;
      margin-top: 20px;

      .single-card{
        max-width: 300px;
        width: 100%;
        height: 450px;
        max-width: 300px;
        width: 100%;
        height: 450px;
        border: 2px solid #E6E6E6;
        background: #FFF;
        border-radius: 20.025px;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        .discount-red-button{
          max-width: 800px;
          width: 100%;
          align-items: center;
          margin-top: 10px;
          
          .discount-price{
            position:absolute;
            border-radius: 86.783px;
            background: #FF3A44;
            color: #FFF;
            padding: 2px 8px 2px 8px;
            margin-right: 200px;
            white-space: nowrap;
          }
        }
        .card-images{
          img{
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
          }
        }
        border-radius: 20.025px;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        .discount-red-button{
          max-width: 800px;
          width: 100%;
          align-items: center;
          margin-top: 10px;
          
          .discount-price{
            position:absolute;
            border-radius: 86.783px;
            background: #FF3A44;
            color: #FFF;
            padding: 2px 8px 2px 8px;
            margin-right: 200px;
            white-space: nowrap;
          }
        }
        .card-images{
          img{
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
          }
        }
        .features{
          max-width: 400px;
          max-width: 400px;
          width: 100%;
          display: flex;
         
          .price-part{
            max-width: 700px;
            width: 100%; 
            margin: 15px 0;
            p{
               color: var(--4, #979797);
               font-family: Poppins;
               font-size: 22px;
               font-style: normal;
               font-weight: 400;
               line-height: 150%; 
               text-align: start;
            }
            .pricesandbag{
              max-width: 600px;
              width: 100%;
              display: flex;
              justify-content:space-between;
              align-items: center;
              .prices{
                  max-width: 400px;
                  width: 100%;
                  display: flex;
                .real-price{
                  color: var(--4, #979797);
                  font-family: Poppins;
                  font-size: 20px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 150%; 
                }
                .line-price{
                  color: var(--2, #D1D1D1);
                  font-family: Poppins;
                  font-size: 20px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 150%; 
                  text-decoration-line:line-through;
                  margin-left: 10px;
                }
              }
              .bag-icon{
                border-radius: 124.388px;
                background-color: rgb(236, 231, 231);
                display: flex;
                padding: 10px;
                align-items: flex-start;
              }

            }
            .star-review{
              margin-bottom: 10px;
              max-width: 100px;
              width: 100%;
              text-align: start;
              display: flex;
              i{
                color: rgba(227, 177, 66, 1) ;
              }
            }
          }
        }
        .top-icons{
          display: none;
          position:absolute;
          margin-bottom: 300px;
          margin-left: 230px;
          max-width: 600px;
          width: 100%;
          // display: flex;
          justify-content:space-between;
          align-items: center;
          flex-direction: column;
        .top-icon{
          .backgroundIcon{
            border-radius: 124.388px;
            border: 1px solid rgba(209, 209, 209, 1);
            padding: 10px;
          }
          display: flex;
          align-items: flex-start;
        }
      }

        
      }
      .single-card:hover{
        box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.52);
        .card-images{
          img{
            -webkit-transform: scale(1.3);
            transform: scale(1.3);
          }

        }
        .features{
          .price-part{
            .pricesandbag{
              .prices{
                .real-price{
                  color: #E3B142;
                }
              }
              .bag-icon:hover{
                background-color: #4A3024;
                transition: .3s ease-in-out;
                transition: background-color 0.5s; 
                svg{
                  path{
                    stroke: #FFF;
                  }
                }
              }

            }
          }
        }
        .top-icons{
          display: flex;
          transition: .3s ease-in-out;
          .backgroundIcon:hover{
            background-color: #4A3024;
            transition: .3s ease-in-out;
            transition: background-color 0.5s; 
            svg{
              path{
                stroke: #FFF;
              }
            }
          }

        }

      }


    }
  }

  
}