.shopcard{
    .col-md-9{
        table{
        width: 100%;
        color: #979797;
        border-radius: 10px;
        border-collapse: separate;
        margin-top: 20px;
        font-size: 12px;
        border: 1px solid #E6E6E6;
        border-bottom: none;
        th,td {
            border-right: none;
            border-bottom: 1px solid #E6E6E6;
            padding: 8px;
            text-align: left;
            font-family: Montserrat;      
          }
          td:nth-child(1){
            width: 40%;
          }
          td{
            width: auto;
            .delete-btn {
                background-color: #fff ;
                color: #808080;
                border: 1px solid #808080;
                border-radius: 50%; 
                cursor: pointer;
                
                
                i{
                  
                  font-size: 13px;
                  width: 4px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  
                }
              
               
            }
            .quantity-shop{
              border-radius: 20px;
              border: 1px solid #979797;
              width: 80px;
              height: 30px;
              font-size: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
              span{
                color: #4A3024;
                padding: 6px;
              }
              .quantity{
                
                padding: 6px;
                margin-bottom: 2px;
                i{
                  border-radius: 50%;
                  background-color: #E6E6E6;
                  color: #4A3024;
                  width: 20px;
                  height: 20px;
                  font-size: 10px;
                  text-align: center;
                  padding: 5px;
                }
              }
              
            } 
            .btn-table-end{
              color: #4A3024;
              background-color: #f2f2f2;
              border-radius: 25px;
              border: none;
              font-size: 12px;
              font-family: Montserrat;
              font-weight: 700;
              
            }
          }
          .subtotal-sec{
            display: flex;
            align-items: start;
            width: 50%;
            justify-content: space-between;
          }
          
        }
    }
    .col-md-3{
        .card {
          border-radius: 25px;
          font-family: Montserrat;
          padding: 15px 15px;
          border: 1px solid #E6E6E6;
          border-radius: 10px;
         
          .bil{
            font-size: 13px;
            font-weight: 600;
            margin: 0;
          }
           
         .price-sec{
            justify-content: space-between;
           p{
            margin: 0;
            color: #979797;
            font-size: 10px;
           }
          
            .yellow{
                color: #E3B142;
                font-weight: 700;
                font-size: 12px;
              }
              
              .coffs{
               font-size: 10px;
               color: #4A3024;
               font-weight: 600;
              }
         }
          }
         
          button{
            border-radius: 25px;
            border: none;
            background-color: #4A3024;
            color: #FFFFFF;
            padding: 5px;
            font-weight: 500;
          }
          hr{
            margin: 0.5rem;
            margin-left: 0;
            margin-right: 0;
          }
         
         
        }
        
        
      } 
