.MyFranchise{
  display: flex;
  justify-content: center;

}

section {
  width: 100%;
  height: auto;
  margin-top: 100px;

  .franc-con {
    display: flex;

    .left {
      
      border-radius: 40px 0px 0px 40px;
      background-color: #4a3024;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      text-align: center !important;
      position: relative;
  
      .icon-7 {
        position: absolute;
        left: calc(100% - 16%);
        top: calc(100% - 93%);
        width: calc(100% - 70%);
      }
      .icon-8 {
        position: absolute;
        left: 50px;
        bottom: calc(100% - 92%);
        width: calc(100% - 80%);
        height: 124px;
      }

      .text {
        width: 60%;

        color: #fff;

        font-family: Montserrat;
        font-size: 50px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        span {
          color: #e3b142;
        }
      }
      .ormado-about {
        color: #fff;
       

        font-weight: 400;

        font-size: 19px;
        img {
          width: 40px;
        }
      }
      .ormado-icon {
        img {
          height: 40px;
        }
        p {
          color: #fff;
        }
      }

      .icon-8 {
        position: absolute;
        left: 10px;
        bottom: 5px;
        left: 20px;
      }

      width: 800px;
    }
    .right {
      img {
        width: 100%;
        border-radius: 0px 40px 40px 0px;
        height: 100%;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .franc-con {
    .left {
      .text {
        p {
          font-size: 27px;
        }
      }
      .ormado-about {
        p {
          font-size:7px;
        }
      }
      .ormado-icon {
        img {
          width: 16px;
        }
        p {
          font-size: 7px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .franc-con {
    .left {
      .text {
        margin-top: 30px;
        p {
          font-size: 17px;
          margin-bottom: 0px;
        }
      }
      .ormado-about {
        text-align: center;
        margin: 20px 0px 0 0;
        p {
          font-size: 6px;
          width: 140px;
          
          
        }
      }
      
    }
  }
}

